---
import ImageWrapper from '$/components/misc/ImageWrapper.astro'
import { Icon } from 'astro-icon/components'
import strings from '$/config/strings'
import siteConfig from '$/config/site'
---

<a aria-label={strings.alts.goToAbout} href="/about/" class="avatar">
  <div class="icon-wrapper">
    <Icon name="tabler:user-square" />
  </div>
  <ImageWrapper
    src={siteConfig.profile.avatar}
    alt={strings.alts.profile}
    loading="eager"
  />
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  .avatar {
    display: block flow;
    position: relative;

    margin-block: spacing(1) spacing(3);
    margin-inline: auto;

    border-radius: $radius-xl;

    background-image: linear-gradient(
      to bottom,
      alpha(var(--profile-gradient-top), 20%),
      alpha(var(--profile-gradient-bottom), 20%)
    );

    max-inline-size: spacing(48);

    overflow: hidden;

    &:active {
      scale: 95%;

      .icon-wrapper {
        background-color: black(50%);
      }
    }

    &:hover .icon-wrapper {
      background-color: black(30%);

      svg {
        scale: 100%;

        opacity: 100%;
      }
    }

    .icon-wrapper {
      @include transition;

      display: block flex;
      position: absolute;

      align-items: center;
      justify-content: center;

      z-index: 50;

      block-size: 100%;
      inline-size: 100%;

      pointer-events: none;

      svg {
        @include transition;
        scale: 90%;

        opacity: 0%;

        block-size: spacing(12);
        inline-size: spacing(12);

        color: white;
      }
    }

    img {
      margin-inline: auto;

      block-size: 100%;
    }
  }

  @include variants.lg {
    .avatar {
      margin-block-start: 0;
      margin-inline: 0;

      max-inline-size: none;

      img {
        margin-block-start: 0;

        inline-size: 100%;
      }
    }
  }
</style>
