---
import type { ProfileLink } from '$/types/config'
import { Icon } from 'astro-icon/components'

export interface Props {
  links: readonly ProfileLink[]
}
const { links } = Astro.props
---

<ul>
  {
    links.map(({ name, url, icon }) => (
      <a
        rel='me'
        aria-label={name}
        href={url}
        target='_blank'
        class:list={[links.length === 1 ? 'small' : 'large']}
      >
        <Icon name={icon} />
        {links.length === 1 && name}
      </a>
    ))
  }
</ul>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  ul {
    display: block flex;

    gap: spacing(2);

    justify-content: center;

    margin-block-end: spacing(1);

    a {
      @extend %btn-regular;

      gap: spacing(1);

      border-radius: $radius-lg;

      block-size: spacing(10);

      svg {
        block-size: spacing(7);
        inline-size: spacing(7);
      }

      &.small {
        padding-inline: spacing(2);

        font-weight: $font-weight-bold;

        &:active {
          scale: 95%;
        }
      }

      &.large {
        inline-size: spacing(10);

        &:active {
          scale: 90%;
        }
      }
    }
  }
</style>
