---
import Avatar from '$/components/widget/sidebar/profile/Avatar.astro'
import ProfileLinks from '$/components/widget/sidebar/profile/ProfileLinks.astro'
import type { ProfileConfig } from '$/types/config'

interface Props {
  config: ProfileConfig
}
const { config } = Astro.props
---

<div class="profile-card">
  <Avatar />

  <div class="info">
    <div class="name">{config.name}</div>
    <hr />
    <div class="bio">{config.bio}</div>
  </div>

  <ProfileLinks links={config.links} />
</div>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  .profile-card {
    @extend %card-base;
    padding: spacing(3);

    .info {
      @include padding-x(spacing(2));

      .name {
        font-weight: $font-weight-bold;
        @include font-size($text-xl);
        margin-bottom: spacing(1);
        text-align: center;
        @include transition();
        @include variants.dark {
          color: $color-neutral-50;
        }
      }

      hr {
        margin: spacing(2) auto;
        border-style: none;
        border-radius: 9999px;
        background-color: var(--primary);
        width: spacing(10);
        height: spacing(1);
        @include transition();
      }

      .bio {
        margin-bottom: spacing(2.5);
        text-align: center;
        @include transition();
        color: $color-neutral-400;
      }
    }
  }
</style>
