---
import Avatar from './Avatar.astro'
import ProfileLinks from './ProfileLinks.astro'
import type { ProfileConfig } from '$/types/config'

export interface Props {
  config: ProfileConfig
}
const { config } = Astro.props
---

<div class="profile-card">
  <Avatar />

  <div class="info">
    <div class="name">{config.name}</div>
    <hr aria-hidden="true" />
    <div class="bio">{config.bio}</div>
  </div>

  <ProfileLinks links={config.links} />
</div>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  .profile-card {
    @extend %card-base;

    padding-block: spacing(3);
    padding-inline: spacing(3);

    .info {
      padding-inline: spacing(2);

      .name {
        @include font-size($text-xl);

        margin-block-end: spacing(1);

        text-align: center;

        font-weight: var(--fw-bold);
      }

      hr {
        margin-block: spacing(2);
        margin-inline: auto;

        border-style: none;

        border-radius: 9999px;

        background-color: var(--color-primary);

        block-size: spacing(1);
        inline-size: spacing(10);
      }

      .bio {
        margin-block-end: spacing(2.5);

        text-align: center;

        color: var(--color-profile-bio);
      }
    }
  }
</style>
