---
import type { ProfileLink } from '$/types/config'
import { Icon } from 'astro-icon/components'

interface Props {
  links: readonly ProfileLink[]
}
const { links } = Astro.props
---

<ul>
  {
    links.map(({ name, url, icon }) => (
      <a
        rel="me"
        aria-label={name}
        href={url}
        target="_blank"
        class:list={[links.length === 1 ? 'small' : 'large']}
      >
        <Icon name={icon} />
        {links.length === 1 && name}
      </a>
    ))
  }
</ul>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  ul {
    display: flex;
    justify-content: center;
    gap: spacing(2);
    margin-bottom: spacing(1);

    a {
      @extend %btn-regular;
      border-radius: $radius-lg;
      height: spacing(10);

      svg {
        width: spacing(7);
        height: spacing(7);
      }

      &.small {
        @include padding-x(spacing(2));
        font-weight: $font-weight-bold;
        &:active {
          scale: 95%;
        }
      }
      &.large {
        width: spacing(10);
        &:active {
          scale: 90%;
        }
      }
    }
  }
</style>
