@use "@styles/mixins.sass" as *

.card
  +margin-y(1.5rem)
  line-height: 1.5

  h2, h3
    display: inline-block
    color: colors.$accent
    +font(font-sizes.$large, font-weights.$medium)

    a
      @include hover-transition(text-decoration, underline)

  :global(.timestamp)
    font-size: 0.875rem
    svg
      scale: 90%
