.card {
  margin-top: spacing(6);
  margin-bottom: spacing(6);

  .card-header-link {
    display: inline-block;
    @include font-size($font-size-lg);
    font-weight: $font-weight-medium;
    color: $color-accent;
    text-decoration-style: solid;
    text-underline-offset: 4px;
    &:focus-visible {
      text-decoration-line: none;
    }

    .card-header {
      @include font-size($font-size-lg);
      font-weight: $font-weight-medium;
      text-decoration-style: solid;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}
