@use "../variables.sass" as *

.search-bar
  position: relative
  display: block

  label
    position: absolute
    inset: 0px
    width: fit-content
    display: flex
    align-items: center
    padding-left: 0.5rem
    opacity: 75%

  input
    display: block
    width: 100%
    background-color: $color-background
    padding: 0.75rem 0.75rem 0.75rem 2.5rem
    border:
      radius: $border-radius-lg
      width: 1px
      color: $color-border
      style: solid
    
    &::placeholder
      font-style: italic
    &:focus
      border-color: $color-accent
      outline: 2px solid transparent
        offset: 2px

.search-results-text
  margin-top: 2rem
