.timestamp-wrapper {
  display: flex;
  align-items: center;
  opacity: 80%;

  svg {
    display: inline-block;
    height: spacing(7);
    width: spacing(6);
    min-width: 1.375rem;
    fill: $color-text;
  }
  
  .updated-text {
    margin-right: spacing(1);
    font-weight: $font-weight-semibold;
  }
}
