@use "../variables.sass" as *;
@use "../mixins.sass" as *;

.timestamp-wrapper {
  /* display: flex; */
  align-items: center;
  opacity: 80%;

  svg {
    display: inline;
    position: relative;
    bottom: 0.15em;
    fill: $color-text;
  }
  
  .updated-text {
    margin-right: 0.25rem;
    font-weight: $font-weight-semibold;
  }
}
