@use "../variables.sass" as *;
@use "../mixins.sass" as *;

.timestamp-wrapper {
  display: flex;
  align-items: center;
  opacity: 80%;

  svg {
    display: inline-block;
    @include size(1.5rem, 1.75rem);
    min-width: 1.375rem;
    fill: $color-text;
  }
  
  .updated-text {
    margin-right: 0.25rem;
    font-weight: $font-weight-semibold;
  }
}
