@use "@/styles/mixins.sass" as *

.timestamp
  opacity: 80%

  svg
    position: relative
    bottom: 0.15em
    +margin-x(-0.15rem, 0.2rem)
  
  .updated-text
    font-weight: font-weights.$semibold
    &::after
      content: " "
