---
import type { Post } from '$/types/content'
import { Icon } from 'astro-icon/components'

export interface Props {
  entry: Post
  url: string
}

const { entry, url } = Astro.props
const { title } = entry.data
---

<a href={url} aria-label={title}>
  <Icon name="tabler:chevron-right" />
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  a {
    @extend %btn-regular;

    display: block flex;
    position: absolute;
    inset-block: spacing(3);
    inset-inline-end: spacing(3);

    align-items: center;
    justify-content: center;

    border-radius: var(--radius-xl);

    background-color: var(--color-enter-btn-bg);

    inline-size: spacing(13);

    &:hover {
      background-color: var(--color-enter-btn-bg-hover);
    }

    &:active {
      scale: 95%;

      background-color: var(--color-enter-btn-bg-active);
    }

    [data-icon] {
      margin-inline: auto;

      block-size: spacing(9);
      inline-size: spacing(9);

      color: var(--color-primary);
    }

    @media (width < $breakpoint-md) {
      display: none;
    }
  }
</style>
