---
export interface Props {
  href?: string
  label?: string
}
const { href, label } = Astro.props
---

<a {href} aria-label={label}>
  <slot />
</a>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/variants' as *;

  :any-link {
    @extend %btn-regular;

    border-radius: var(--radius-lg);

    padding-inline: spacing(3);

    block-size: spacing(8);

    font-size: var(--text-sm);
  }
</style>
