---
import { Icon } from "astro-icon/components"
import { navbarConfig, siteConfig } from "$/config"
import { url } from "$/utils/urls"
import NavExtras from "./NavExtras.astro"

type Props = {
  class?: string | undefined
}
const { class: className } = Astro.props
---

<div id="navbar" class="z-50 onload-animation">
  <!-- used for onload animation -->
  <div class="absolute h-8 left-0 right-0 -top-8 bg-[--card-bg] transition">
  </div>

  <nav
    class:list={[
      className,
      "card-base !overflow-visible max-w-[--page-width] h-[4.5rem] !rounded-t-none mx-auto flex items-center justify-between px-4",
    ]}
  >
    <a
      href={url("/")}
      class="btn-plain scale-animation rounded-lg h-[3.25rem] px-5 font-bold active:scale-95"
    >
      <div class="flex flex-row text-[--primary] items-center text-md">
        <Icon name="tabler:home" size="1.75rem" class="mr-2" />
        {siteConfig.title}
      </div>
    </a>
    <menu class="hidden md:flex">
      {
        navbarConfig.links.map((link) => (
          <a
            aria-label={link.name}
            href={link.external === true ? link.url : url(link.url)}
            target={link.external === true ? "_blank" : null}
            class="btn-plain scale-animation rounded-lg h-11 font-bold px-5 active:scale-95"
          >
            <div class="flex items-center">
              {link.name}
              {link.external === true && (
                <Icon
                  name="tabler:external-link"
                  size="1.125rem"
                  class="transition ml-1 text-black/[0.2] dark:text-white/[0.2]"
                />
              )}
            </div>
          </a>
        ))
      }
    </menu>

    <NavExtras />
  </nav>
</div>
