---
import { Icon } from 'astro-icon/components'
import siteConfig from '$/config/site'
import NavExtras from '$/components/global/nav/NavExtras.astro'
import NavLink from '$/components/global/nav/NavLink.astro'

interface Props {
  class?: string
}
const { class: className } = Astro.props
---

<div id="navbar">
  <nav class={className}>
    <a href="/" class="home-link">
      <Icon name="tabler:home" />
      {siteConfig.title}
    </a>
    <menu>
      {siteConfig.navbar.links.map((link) => <NavLink {link} />)}
    </menu>

    <NavExtras />
  </nav>
</div>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  @keyframes fade-in-down {
    0% {
      translate: 0 spacing(-16);

      opacity: 0%;
    }

    100% {
      translate: 0 0;

      opacity: 100%;
    }
  }

  #navbar {
    z-index: 50;

    animation-name: fade-in-down;

    animation-duration: 300ms;

    animation-delay: 0ms;

    opacity: 0%;
    animation-fill-mode: forwards;

    nav {
      @extend %card-base;

      display: flex;
      align-items: center;
      justify-content: space-between;
      block-size: spacing(18);
      max-inline-size: var(--page-width);
      margin-inline: auto;
      padding-inline: spacing(4);
      overflow: visible !important;

      border-start-start-radius: 0 !important;
      border-start-end-radius: 0 !important;

      .home-link {
        @extend %btn-plain, %expand-animation;
        display: flex;
        flex-direction: row;
        align-items: center;
        block-size: spacing(13);
        padding-inline: spacing(5);

        border-radius: $radius-lg;

        color: var(--primary) !important;
        font-weight: $font-weight-bold;
        gap: spacing(2);

        &:active {
          scale: 95%;
        }

        svg {
          block-size: spacing(7);
          inline-size: spacing(7);
        }
      }

      menu {
        display: none;

        @include variants.md {
          display: flex;
        }
      }
    }
  }
</style>
