---
import { Icon } from "astro-icon/components"
import siteConfig from "$/config/site"
import { url } from "$/utils/urls"
import NavExtras from "$/components/global/nav/NavExtras.astro"
import NavLink from "$/components/global/nav/NavLink.astro"

type Props = {
  class?: string | undefined
}
const { class: className } = Astro.props
---

<div id="navbar">
  <nav class={className}>
    <a href={url("/")} class="home-link">
      <Icon name="tabler:home" size="1.75rem" />
      {siteConfig.title}
    </a>
    <menu>
      {siteConfig.navbar.links.map((link) => <NavLink {link} />)}
    </menu>

    <NavExtras />
  </nav>
</div>

<style lang="scss">
  @use "$/styles/main";
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  @keyframes fade-in-down {
    0% {
      translate: 0 spacing(-16);
      opacity: 0%;
    }
    100% {
      translate: 0 0;
      opacity: 100%;
    }
  }

  #navbar {
    opacity: 0%;
    z-index: 50;
    animation: 300ms fade-in-down {
      fill-mode: forwards;
      delay: 0ms;
    }

    nav {
      @extend .card-base;
      max-width: var(--page-width);
      height: spacing(18);
      overflow: visible !important;
      border: {
        top-left-radius: 0 !important;
        top-right-radius: 0 !important;
      }
      @include margin-x(auto);
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include padding-x(spacing(4));

      .home-link {
        @extend .btn-plain, .scale-animation;
        border-radius: $radius-lg;
        height: spacing(13);
        @include padding-x(spacing(5));
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: spacing(2);
        color: var(--primary) !important;
        font-weight: $font-weight-bold;
      }

      menu {
        display: none;
        @include variants.md {
          display: flex;
        }
      }
    }
  }
</style>
