---
import Search from '$/components/global/nav/search/Search.svelte'
import ColorSchemePicker from '$/components/global/nav/ColorSchemePicker.svelte'
import NavMenuPanel from '$/components/global/nav/NavMenuPanel.astro'
import HuePicker from '$/components/global/nav/HuePicker.svelte'

import siteConfig from '$/config/site'
---

<div class='nav-extras'>
  <Search client:load />
  <HuePicker client:only='svelte' />
  <ColorSchemePicker client:load />
  <NavMenuPanel links={siteConfig.navbar.links} />
</div>

<script is:inline>

  async function loadPagefind() {
    /** @type {import('vite-plugin-pagefind/types').Pagefind} */
    // @ts-expect-error -- this is relative to the site root
    const pagefind = await import('/pagefind/pagefind.js')

    await pagefind.options({ excerptLength: 20 })
    pagefind.init()
    window.pagefind = pagefind

    pagefind.search('') // speed up the first search
  }
  loadPagefind()
</script>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  .nav-extras {
    display: block flex;
  }
</style>
