---
import Search from '$/components/global/nav/search/Search.svelte'
import LightDarkSwitch from '$/components/global/nav/LightDarkSwitch.svelte'
import NavMenuPanel from '$/components/global/nav/NavMenuPanel.astro'
import ColorSettings from '$/components/global/nav/ColorSettings.svelte'

import siteConfig from '$/config/site'
---

<div class="nav-extras">
  <Search client:load />
  <ColorSettings client:only="svelte" />
  <LightDarkSwitch client:load />
  <NavMenuPanel links={siteConfig.navbar.links} />
</div>

<script is:inline>
  // @ts-nocheck
  async function loadPagefind() {
    /** @type {import("vite-plugin-pagefind/types").Pagefind} */
    const pagefind = await import('/pagefind/pagefind.js')
    await pagefind.options({ excerptLength: 20 })
    pagefind.init()
    window.pagefind = pagefind
    pagefind.search('') // speed up the first search
  }
  loadPagefind()
</script>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  .nav-extras {
    display: block flex;
  }
</style>
