---
import { Icon } from 'astro-icon/components'
import type { NavBarLink } from '$/types/config'

export interface Props {
  link: NavBarLink
}
const { link } = Astro.props
---

<a
  aria-label={link.name}
  href={link.url}
  target={link.external === true ? '_blank' : null}
>
  {link.name}
  {link.external === true && <Icon name="tabler:external-link" />}
</a>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;

  a {
    @extend %btn-plain, %expand-animation;

    display: block flex;

    align-items: center;

    border-radius: var(--radius-lg);

    padding-inline: spacing(5);

    block-size: spacing(11);

    font-weight: var(--fw-bold);

    &:active {
      scale: 95%;
    }

    [data-icon] {
      margin-inline-start: spacing(1);

      block-size: spacing(4.5);
      inline-size: spacing(4.5);

      color: var(--color-nav-link-external-icon);
    }
  }
</style>
