---
import { Icon } from 'astro-icon/components'
import type { NavBarLink } from '$/types/config'

interface Props {
  link: NavBarLink
}
const { link } = Astro.props
---

<a
  aria-label={link.name}
  href={link.url}
  target={link.external === true ? '_blank' : null}
>
  {link.name}
  {link.external === true && <Icon name="tabler:external-link" />}
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  a {
    @extend %btn-plain, %expand-animation;

    display: block flex;

    align-items: center;

    border-radius: $radius-lg;

    padding-inline: spacing(5);

    block-size: spacing(11);

    font-weight: $font-weight-bold;

    &:active {
      scale: 95%;
    }

    svg {
      @include text-plain(20%);

      margin-inline-start: spacing(1);

      block-size: spacing(4.5);
      inline-size: spacing(4.5);
    }
  }
</style>
