---
import type { NavBarLink } from '$/types/config'
import { Icon } from 'astro-icon/components'
import strings from '$/config/strings'

interface Props {
  links: readonly NavBarLink[]
}

const { links } = Astro.props
---

<button aria-label={strings.alts.navMenuButton} id='nav-menu-switch'>
  <Icon name='tabler:menu-2' />
</button>

<nav id='nav-menu-panel' class='float-panel-closed'>
  {
    links.map(({ name, url, external = false }) => (
      <a
        href={url}
        target={external ? '_blank' : null}
      >
        <header>{name}</header>
        <Icon
          name={`tabler:${external ? 'external-link' : 'chevron-right'}`}
          class={`link-icon-${external ? 'external' : 'internal'}`}
        />
      </a>
    ))
  }
</nav>

<script>
  document
    .getElementById('nav-menu-switch')
    ?.addEventListener('click', () =>
      document
        .getElementById('nav-menu-panel')
        ?.classList.toggle('float-panel-closed'),
    )
</script>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  #nav-menu-switch {
    @extend %btn-plain, %expand-animation;

    border-radius: $radius-lg;

    block-size: spacing(11);
    inline-size: spacing(11);

    &:active {
      scale: 90%;
    }


    svg {
      block-size: spacing(5);
      inline-size: spacing(5);
    }

    @include md {
      display: none !important;
    }
  }

  #nav-menu-panel {
    @extend %float-panel;
    @include transition($properties: all);

    position: fixed;
    inset-inline-end: spacing(4);

    padding: spacing(2);

    a {
      display: block flex;

      gap: spacing(8);

      align-items: center;
      justify-content: space-between;

      border-radius: $radius-lg;

      padding-block: spacing(2);
      padding-inline: spacing(3) spacing(1);

      &:hover {
        background-color: var(--btn-plain-bg-hover);
      }

      &:active {
        background-color: var(--btn-plain-bg-active);
      }

      &:is(:hover, :active) header {
        color: var(--primary);
      }

      header {
        color: bw(75%);

        font-weight: $font-weight-bold;
      }

      %link-icon {
        block-size: spacing(5);
        inline-size: spacing(5);
      }

      .link-icon-external {
        @extend %link-icon;
        color: bw(25%);
      }

      .link-icon-internal {
        @extend %link-icon;

        color: var(--primary);
      }
    }
  }
</style>
