---
import type { NavBarLink } from '$/types/config'
import { Icon } from 'astro-icon/components'
import { url as getURL } from '$/utils/urls'

type Props = Readonly<{
  links: readonly NavBarLink[]
}>

const { links } = Astro.props
---

<button aria-label="Menu" name="Nav Menu" id="nav-menu-switch">
  <Icon name="tabler:menu-2" size="1.25rem" />
</button>

<nav id="nav-menu-panel" class="float-panel-closed">
  {
    links.map(({ name, url, external = false }) => (
      <a
        href={external ? url : getURL(url)}
        target={external ? '_blank' : null}
      >
        <header>{name}</header>
        <Icon
          name={`tabler:${external ? 'external-link' : 'chevron-right'}`}
          size="1.25rem"
          class={`link-icon-${external ? 'external' : 'internal'}`}
        />
      </a>
    ))
  }
</nav>

<script>
  function loadButtonScripts() {
    document
      .getElementById('nav-menu-switch')
      ?.addEventListener('click', () =>
        document
          .getElementById('nav-menu-panel')
          ?.classList.toggle('float-panel-closed'),
      )
  }

  loadButtonScripts()
</script>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  #nav-menu-switch {
    @extend .btn-plain, .expand-animation;
    border-radius: $radius-lg;
    width: spacing(11);
    height: spacing(11);
    &:active {
      scale: 90%;
    }

    @include variants.md {
      display: none !important;
    }
  }

  #nav-menu-panel {
    @extend .float-panel;
    @include transition($properties: all);
    position: fixed;
    right: spacing(4);
    padding: spacing(2);

    a {
      @include transition();
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: spacing(8);
      border-radius: $radius-lg;
      padding: spacing(2) spacing(1) spacing(2) spacing(3);
      &:hover {
        background-color: var(--btn-plain-bg-hover);
      }
      &:active {
        background-color: var(--btn-plain-bg-active);
      }

      header {
        @include transition();
        @include text-plain(75%);
        font-weight: $font-weight-bold;
      }
      &:is(:hover, :active) header {
        color: var(--primary);
      }

      .link-icon {
        @include transition();

        &-external {
          @include text-plain(25%);
        }
        &-internal {
          color: var(--primary);
        }
      }
    }
  }
</style>
