@use "./fonts/recursive.sass"
@use "./fonts/kosugi-maru.sass"

@use "./prose.sass"

:root
  overflow-y: scroll
  scroll-behavior: smooth

  color-scheme: light dark
  @each $theme in light, dark
    &[data-theme="#{$theme}"]
      color-scheme: $theme

  @media (prefers-reduced-motion)
    scroll-behavior: auto

body
  max-width: 48rem
  +margin-x(auto)
  display: flex
  min-height: 100svh
  flex-direction: column
  font:
    family: Recursive, "Kosugi Maru", sans-serif
    feature-settings: "frac"
    variation-settings: "CASL" 0.25
  line-height: calc(740 / 567)
  tab-size: 2

  background-color: colors.$background
  color: colors.$text
  caret-color: colors.$accent
  accent-color: colors.$accent

  ::selection
    background-color: with-opacity(colors.$accent, 70%)
    color: colors.$background

  @media print
    background-color: white
    color: black

section, footer
  +padding-x(1rem)

a, button
  border: none
  &:focus-visible
    text-decoration-line: none
    outline: 2px dashed colors.$accent
      offset: 1px

svg
  display: inline-block
  +size(1.5rem)
  fill: transparent
  stroke: currentColor
    width: 2
    linecap: round
    linejoin: round

pre, code
  font-family: Recursive, monospace
  font-feature-settings: normal
  font-variation-settings: "CASL" 0.25, "MONO" 1

:root[data-theme="dark"] pre:has(code)
  &, span
    color: var(--shiki-dark) !important
    background-color: var(--shiki-dark-bg) !important
    font-style: var(--shiki-dark-font-style) !important
    font-weight: var(--shiki-dark-font-weight) !important
    text-decoration: var(--shiki-dark-text-decoration) !important
