@use "./fonts/recursive.sass"
@use "./fonts/kosugi-maru.sass"

@use "./prose.sass"

@tailwind base
@tailwind components
@tailwind utilities

:root
  overflow-y: scroll

  color-scheme: light dark
  &[data-theme="light"]
    color-scheme: light
  &[data-theme="dark"]
    color-scheme: dark

body
  display: flex
  min-height: 100svh
  flex-direction: column
  font:
    family: Recursive, "Kosugi Maru", sans-serif
    feature-settings: "frac"
    variation-settings: "CASL" 0.25
  line-height: calc(740 / 567)
  tab-size: 2

  background-color: $color-fill
  color: $color-text
  caret-color: $color-accent
  accent-color: $color-accent

  ::selection
    background-color: with-opacity($color-accent, 70%)
    color: $color-fill

  @media print
    background-color: white
    color: black

section, footer
  max-width: $max-width
  +margin-x(auto)
  +padding-x(1rem)

a, button
  +transition(color)
  outline: 2px $color-accent
    offset: 1px
  &:focus-visible
    text-decoration-line: none
    outline-style: dashed
  &:hover
    color: $color-accent

svg
  display: inline-block
  +size(1.5rem)
  fill: transparent
  stroke: currentColor
    width: 2
    linecap: round
    linejoin: round

:root[data-theme="dark"] pre:has(code)
  &, span
    color: var(--shiki-dark) !important
    background-color: var(--shiki-dark-bg) !important
    font-style: var(--shiki-dark-font-style) !important
    font-weight: var(--shiki-dark-font-weight) !important
    text-decoration: var(--shiki-dark-text-decoration) !important
