@import "./fonts/recursive.css";
@import "./fonts/fafo-nihongo.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme="light"] {
    --color-fill: 239, 241, 245;
    --color-text-base: 76, 79, 105;
    --color-accent: 30, 102, 245;
    --color-card: 172, 176, 190;
    --color-card-muted: 188, 192, 204;
    --color-border: 124, 127, 147;
    --color-highlight: 223, 142, 29;
  }

  :root,
  html[data-theme="dark"] {
    --color-fill: 36, 39, 58;
    --color-text-base: 202, 211, 245;
    --color-accent: 138, 173, 244;
    --color-card: 91, 96, 120;
    --color-card-muted: 73, 77, 100;
    --color-border: 147, 154, 183;
    --color-highlight: 238, 212, 159;
  }

  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    @apply hidden;
  }

  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    @apply block;
  }

  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-sans text-skin-base selection:bg-skin-accent/70 selection:text-skin-inverted;
  }

  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }

  a {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
  
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }

  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
  }

  mark {
    @apply rounded;
    padding: 0.2rem;
    background-color: rgb(var(--color-highlight));
    color: rgb(var(--color-fill));
  }

  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base;
    @apply prose-p:!text-skin-base;
    @apply prose-a:!text-skin-base prose-a:!decoration-wavy prose-a:underline-offset-4 hover:prose-a:text-skin-accent;
    @apply prose-blockquote:!border-l-skin-accent/50 prose-blockquote:opacity-80;
    @apply prose-figcaption:!text-skin-base prose-figcaption:opacity-70;
    @apply prose-strong:!text-skin-base;
    @apply prose-code:rounded prose-code:bg-skin-card/75 prose-code:p-1 prose-code:before:!content-none prose-code:after:!content-none;
    @apply prose-ol:!text-skin-base;
    @apply prose-ul:overflow-x-clip prose-ul:!text-skin-base;
    @apply prose-li:marker:!text-skin-accent;
    @apply prose-table:text-skin-base;
    @apply prose-th:border prose-th:border-skin-line;
    @apply prose-td:border prose-td:border-skin-line;
    @apply prose-img:!my-2 prose-img:mx-auto prose-img:border-2 prose-img:border-skin-line prose-img:rounded-lg;
    @apply prose-hr:!border-skin-line;
  }

  .prose figcaption {
    @apply italic text-center;
  }

  .prose strong {
    @apply font-extrabold;
  }

  .prose a {
    @apply break-words hover:!text-skin-accent;
  }

  .prose a[data-footnote-ref] {
    @apply underline-offset-1;
  }

  .prose a[data-footnote-backref] {
    @apply !text-skin-accent no-underline;
  }

  .prose th[align="left"], .prose td[align="left"] {
    @apply text-left;
    padding-left: calc(4em / 7);
  }

  .prose th[align="center"], .prose td[align="center"] {
    @apply text-center;
  }

  .prose th[align="right"], .prose td[align="right"] {
    @apply text-right;
    padding-right: calc(4em / 7);
  }

  .prose blockquote {
    @apply not-italic;
  }

  .prose h2#table-of-contents {
    @apply mb-2;
  }

  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }

  .prose summary {
    @apply focus-outline;
  }

  .prose h2#table-of-contents + p {
    @apply hidden;
  }
  
  /* ===== scrollbar ===== */
  html {
    @apply overflow-y-scroll
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply display-none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card rounded-md;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  pre:has(code) {
    @apply border border-skin-line whitespace-pre;
  }

  code, blockquote {
    @apply break-words;
  }

  /* Apply Dark Theme (if multi-theme specified) */
  html[data-theme="dark"] pre:has(code),
  html[data-theme="dark"] pre:has(code) span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
