@use 'theme' as *;
@use 'variants' as *;

%card-base {
  transition-duration: var(--transition-duration);
  transition-property: var(--transition-properties);
  transition-timing-function: var(--transition-function);

  border-radius: var(--radius-xl2);

  background-color: var(--color-card-bg);

  overflow: hidden;
}

%expand-animation {
  position: relative;

  z-index: 0;

  &::before {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;

    scale: 85%;

    transition-duration: var(--transition-duration);
    transition-property: var(--transition-properties);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

    z-index: -10;

    border-radius: inherit;

    content: '';
  }

  &:hover::before {
    scale: 100%;

    background-color: var(--color-btn-plain-bg-hover);

    content: '';
  }

  &:active {
    background-image: none;

    &::before {
      background-color: var(--color-btn-plain-bg-active);

      content: '';
    }
  }
}

%link {
  @extend %expand-animation;

  transition-duration: var(--transition-duration);
  transition-property: var(--transition-properties);
  transition-timing-function: var(--transition-function);

  margin-block: spacing(-1);
  margin-inline: spacing(-1);

  border-radius: var(--radius-md);

  padding-block: spacing(1);
  padding-inline: spacing(1);
}

%float-panel {
  inset-block-start: spacing(21);

  transition-duration: var(--transition-duration);
  transition-property: var(--transition-properties);
  transition-timing-function: var(--transition-function);

  border-radius: var(--radius-xl2);

  box-shadow:
    0 20px 25px -5px oklch(0% 0% none / 10%),
    0 8px 10px -6px oklch(0% 0% none / 10%);

  background-color: var(--color-float-panel-bg);

  overflow: hidden;
}

.float-panel-closed {
  translate: 0 spacing(-1);

  visibility: hidden;
  opacity: 0%;

  pointer-events: none;
}

%btn-card {
  display: block flex;

  align-items: center;
  justify-content: center;

  transition-duration: var(--transition-duration);
  transition-property: var(--transition-properties);
  transition-timing-function: var(--transition-function);

  background-color: var(--color-card-bg);

  &:hover {
    background-color: var(--color-card-bg-hover);
  }

  &:active {
    background-color: var(--color-card-bg-active);
  }

  &[aria-disabled='true'] {
    color: var(--color-card-disabled-text);

    pointer-events: none;
  }
}

%btn-plain {
  display: block flex;

  align-items: center;
  justify-content: center;

  transition-duration: var(--transition-duration);
  transition-property: var(--transition-properties);
  transition-timing-function: var(--transition-function);

  background-image: none;

  color: var(--color-btn-plain-text);

  &:hover {
    color: var(--color-primary);
  }

  &:not(%expand-animation) {
    &:hover {
      background-color: var(--color-btn-plain-bg-hover);
    }

    &:active {
      background-color: var(--color-btn-plain-bg-active);
    }
  }
}

%btn-regular {
  display: block flex;

  align-items: center;
  justify-content: center;

  transition-duration: var(--transition-duration);
  transition-property: var(--transition-properties);
  transition-timing-function: var(--transition-function);

  background-color: var(--color-btn-regular-bg);

  color: var(--color-btn-regular-text);

  &:hover {
    background-color: var(--color-btn-regular-bg-hover);
  }

  &:active {
    background-color: var(--color-btn-regular-bg-active);
  }
}
