@function alpha($color, $alpha) {
  @return oklch(from $color l c h / $alpha);
}

:root {
  /* <empty> */
  --color-btn-content: light-dark(oklch(55% 30% var(--hue)), oklch(75% 25% var(--hue)));

  /* <empty> */
  --color-btn-regular-text: light-dark(var(--color-btn-content), #{alpha(white, 75%)});
  --color-btn-regular-bg: light-dark(oklch(95% 6.25% var(--hue)), oklch(33% 8.75% var(--hue)));
  --color-btn-regular-bg-hover: light-dark(oklch(90% 12.5% var(--hue)), oklch(38% 10% var(--hue)));
  --color-btn-regular-bg-active: light-dark(oklch(85% 20% var(--hue)), oklch(43% 11.25% var(--hue)));

  /* <empty> */
  --color-btn-plain-text: #{alpha(light-dark(black, white), 75%)};
  --color-btn-plain-bg-hover: light-dark(oklch(95% 6.25% var(--hue)), oklch(30% 8.75% var(--hue)));
  --color-btn-plain-bg-active: light-dark(oklch(98% 2.5% var(--hue)), oklch(27% 6.25% var(--hue)));

  /* <empty> */
  --color-deep-text: oklch(25% 5% var(--hue));

  /* <empty> */
  --color-line-divider: #{alpha(light-dark(black, white), 20%)};

  /* MARK: Global */
  --color-primary: light-dark(oklch(70% 35% var(--hue)), oklch(75% 35% var(--hue)));
  --color-page-bg: light-dark(oklch(95% 2.5% var(--hue)), oklch(16% 3.5% var(--hue)));
  --color-caret: light-dark(oklch(75% 20% var(--hue)), oklch(70% 20% var(--hue)));
  --color-selection-bg: light-dark(oklch(90% 12.5% var(--hue)), oklch(70% 20% var(--hue)));

  /* MARK: Code Blocks */
  --color-code-inline-text: var(--color-btn-content);
  --color-code-inline-bg: var(--color-btn-regular-bg);
  --color-code-block-bg: light-dark(#{alpha(black, 3%)}, oklch(17% 3.75% var(--hue)));
  --color-code-block-line-number: #{alpha(light-dark(black, white), 25%)};

  /* MARK: Generic Cards */
  --color-card-bg: light-dark(white, oklch(23% 3.75% var(--hue)));
  --color-card-bg-hover: light-dark(oklch(98% 1.25% var(--hue)), oklch(30% 7.5% var(--hue)));
  --color-card-bg-active: light-dark(oklch(90% 7.5% var(--hue)), oklch(35% 8.75% var(--hue)));
  --color-card-disabled-text: #{alpha(light-dark(black, white), 10%)};

  /* MARK: Post Cards */
  --color-post-card-separator: #{alpha(light-dark(black, white), 15%)};
  --color-post-card-title-active: oklch(60% 25% var(--hue));
  --color-post-card-link-bg: var(--color-btn-regular-bg);
  --color-post-card-link-bg-hover: var(--color-btn-regular-bg-hover);
  --color-post-card-link-bg-active: var(--color-btn-regular-bg-active);
  --color-post-card-description: #{alpha(light-dark(black, white), 75%)};

  /* MARK: License */
  --color-license-bg: var(--color-code-block-bg);
  --color-license-title: #{alpha(light-dark(black, white), 75%)};
  --color-license-details-header: #{alpha(light-dark(black, white), 30%)};
  --color-license-details-text: #{alpha(light-dark(black, white), 75%)};
  --color-license-cc-icon: #{alpha(light-dark(black, white), 5%)};

  /* MARK: Profile */
  --color-profile-bio: oklch(70% 0% none);
  --color-profile-gradient-top: light-dark(oklch(70% 35% var(--hue)), oklch(75% 35% var(--hue)));
  --color-profile-gradient-bottom: light-dark(oklch(50% 35% var(--hue)), oklch(55% 35% var(--hue)));
  --color-profile-about-icon: white;
  --color-profile-about-icon-bg: #{alpha(black, 50%)};
  --color-profile-about-icon-bg-hover: #{alpha(black, 30%)};

  /* MARK: Links */
  --color-link-underline: light-dark(oklch(93% 10% var(--hue)), oklch(40% 20% var(--hue)));
  --color-link-hover: light-dark(oklch(95% 6.25% var(--hue)),oklch(40% 20% var(--hue)));
  --color-link-active: light-dark(oklch(90% 12.5% var(--hue)), oklch(35% 17.5% var(--hue)));

  /* MARK: Panels */
  --color-float-panel-bg: light-dark(white, oklch(19% 3.75% var(--hue)));

  /* MARK: Callouts */
  --color-callout-tip: light-dark(oklch(70% 35% 180deg), oklch(75% 35% 180deg));
  --color-callout-note: light-dark(oklch(70% 35% 250deg), oklch(75% 35% 250deg));
  --color-callout-important: light-dark(oklch(70% 35% 310deg), oklch(75% 35% 310deg));
  --color-callout-warning: light-dark(oklch(70% 35% 60deg), oklch(75% 35% 60deg));
  --color-callout-caution: light-dark(oklch(60% 50% 25deg), oklch(65% 50% 25deg));

  /* MARK: Table of Contents */
  --color-toc-badge-bg: light-dark(oklch(90% 11.25% var(--hue)), var(--color-btn-regular-bg));
  --color-toc-btn-hover: light-dark(oklch(92% 3.75% var(--hue)), oklch(22% 5% var(--hue)));
  --color-toc-btn-active: light-dark(oklch(90% 3.75% var(--hue)), oklch(25% 5% var(--hue)));
  --color-toc-item-text: #{alpha(light-dark(black, white), 50%)};
  --color-toc-item-active: light-dark(oklch(70% 32.5% var(--hue)), oklch(35% 17.5% var(--hue)));

  /* MARK: Copy Button */
  --color-copy-btn-icon: light-dark(white, #{alpha(white, 75%)});
  --color-copy-btn-bg: light-dark(oklch(45% 2.5% var(--hue)), oklch(30% 5% var(--hue)));
  --color-copy-btn-bg-hover: light-dark(oklch(50% 2.5% var(--hue)), oklch(35% 5% var(--hue)));
  --color-copy-btn-bg-active: light-dark(oklch(55% 2.5% var(--hue)), oklch(40% 7.5% var(--hue)));
  --color-copy-btn-bg-success: oklch(75% 35% var(--hue));

  /* MARK: Category Link */
  --color-category-link-badge: light-dark(oklch(95% 6.25% var(--hue)), var(--color-primary));
  --color-category-link-badge-text: light-dark(var(--color-btn-content), var(--color-deep-text));
  --color-category-link-text: light-dark(oklch(37% 0% none), oklch(87% 0% none));

  /* MARK: Posts */
  --color-post-title: #{alpha(light-dark(black, white), 90%)};

  /* MARK: Post Meta */
  --color-meta-text: #{alpha(light-dark(black, white), 50%)};
  --color-meta-divider: #{alpha(light-dark(black, white), 20%)};
  --color-meta-extra-text: #{alpha(light-dark(black, white), 40%)};
  --color-meta-extra-bg: light-dark(#{alpha(black, 5%)}, #{alpha(white, 10%)});
  --color-meta-extra-icon: #{alpha(light-dark(black, white), 50%)};

  /* MARK: Post Pagination */
  --color-post-pagination-text: #{alpha(light-dark(black, white), 75%)};

  /* MARK: Footer */
  --color-footer-text: #{alpha(light-dark(black, white), 50%)};
  --color-footer-border: light-dark(#{alpha(black, 10%)}, #{alpha(white, 15%)});

  /* MARK: Search */
  --color-search-bar-bg: #{alpha(light-dark(black, white), 5%)};
  --color-search-bar-bg-hover: #{alpha(light-dark(black, white), 10%)};
  --color-search-icon: #{alpha(light-dark(black, white), 30%)};
  --color-search-text: #{alpha(light-dark(black, white), 50%)};
  --color-search-result-title: #{alpha(light-dark(black, white), 90%)};
  --color-search-result-excerpt: #{alpha(light-dark(black, white), 50%)};

  /* MARK: Pagination */
  --color-pagination-link: light-dark(oklch(37% 0% none), oklch(87% 0% none));
  --color-pagination-current: light-dark(white, #{alpha(black, 70%)});

  /* MARK: Photoswipe */
  --color-photoswipe-button-bg: #{alpha(black, 40%)};
  --color-photoswipe-button-bg-hover: #{alpha(black, 50%)};
  --color-photoswipe-button-bg-active: #{alpha(black, 60%)};

  /* MARK: Archive */
  --color-archive-year: #{alpha(light-dark(black, white), 75%)};
  --color-archive-post-count: #{alpha(light-dark(black, white), 50%)};
  --color-archive-date: #{alpha(light-dark(black, white), 50%)};
  --color-archive-separator: oklch(50% 12.5% var(--hue));
  --color-archive-title: #{alpha(light-dark(black, white), 75%)};
  --color-archive-tags: #{alpha(light-dark(black, white), 30%)};
  --color-archive-border: #{alpha(light-dark(black, white), 10%)};

  /* MARK: Banner Credit */
  --color-banner-credit-bg: #{alpha(black, 60%)};
  --color-banner-credit-bg-hover: #{alpha(black, 70%)};
  --color-banner-credit-bg-active: #{alpha(black, 80%)};
  --color-banner-credit-text: #{alpha(white, 75%)};

  /* MARK: Hue Picker */
  --color-hue-picker-title: light-dark(oklch(20% 0% none), oklch(97% 0% none));
  --color-hue-picker-thumb: #{alpha(white, 70%)};
  --color-hue-picker-thumb-hover: #{alpha(white, 80%)};
  --color-hue-picker-thumb-active: #{alpha(white, 60%)};
  --color-hue-picker-value: var(--color-btn-content);
  --color-hue-picker-value-bg: var(--color-btn-regular-bg);
  --color-hue-picker-gradient: light-dark(oklch(80% 25% 0deg), oklch(70% 25% 0deg));

  /* MARK: Navigation */
  --color-nav-link-external-icon: #{alpha(light-dark(black, white), 25%)};

  /* MARK: Nav Panel */
  --color-nav-panel-text: #{alpha(light-dark(black, white), 75%)};

  /* MARK: Widgets */
  --color-widget-header: light-dark(oklch(20% 0% none), oklch(97% 0% none));
}
