@use 'theme' as *;
@use 'utils' as *;
@use '@fontsource/monaspace-radon';
@use '@fontsource-variable/playpen-sans';

* {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color-selection-bg);
}

:root {
  font-family: 'Playpen Sans Variable', sans-serif;
  color-scheme: light dark;

  @each $scheme in (light, dark) {
    &[data-color-scheme='#{$scheme}'] {
      color-scheme: $scheme;
    }
  }

  caret-color: var(--color-caret);
}

:root[data-color-scheme='dark'] {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
  }
}

button {
  cursor: pointer;
}

code {
  font-family: 'Monaspace Radon', monospace !important;
  font-feature-settings:
    'calt', 'liga', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07',
    'ss08', 'ss09';
}

:is(article, #post-cover) img {
  cursor: zoom-in;
}

:root.transitioning * {
  transition: none !important;
}
