@use "theme" as *;
@use "utils" as *;
@use "variants";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-base {
    border-radius: $radius-xl2;
    overflow: hidden;
    background-color: var(--card-bg);
    @include transition();
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  li,
  ul,
  ol,
  blockquote,
  code,
  pre,
  table,
  th,
  td,
  strong {
    @include transition();
  }

  .card-shadow {
    filter: drop-shadow(0 2px 4px rgb(0 0 0 / 0.005));
  }
  .expand-animation {
    position: relative;
    z-index: 0;
    @include before {
      @include transition($function: $ease-out);
      position: absolute;
      border-radius: inherit;
      inset: 0;
      scale: 0.85;
      z-index: -10;
    }
    &:hover {
      @include before {
        background-color: var(--btn-plain-bg-hover);
        scale: 1;
      }
    }
    &:active {
      background-image: none;
      @include before {
        background-color: var(--btn-plain-bg-active);
      }
    }
  }
  .link {
    @extend .expand-animation;
    @include transition();
    border-radius: $radius-md;
    padding: spacing(1);
    margin: spacing(-1);
  }
  .link-lg {
    @extend .expand-animation;
    @include transition();
    border-radius: $radius-md;
    padding: spacing(1.5);
    margin: spacing(-1.5);
  }
  .float-panel {
    top: spacing(21);
    border-radius: $radius-xl2;
    overflow: hidden;
    background-color: var(--float-panel-bg);
    @include transition();
    box-shadow: $shadow-xl;
    @include variants.dark {
      box-shadow: $shadow-none;
    }
  }
  .float-panel-closed {
    translate: 0 spacing(-1);
    opacity: 0;
    pointer-events: none;
  }
  .search-panel mark {
    background-color: transparent;
    color: var(--primary);
  }

  .btn-card {
    @include transition();
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-bg);
    &:hover {
      background-color: var(--btn-card-bg-hover);
    }
    &:active {
      background-color: var(--btn-card-bg-active);
    }
  }
  .btn-card.disabled {
    pointer-events: none;
    color: black(0.1);
    @include variants.dark {
      color: white(0.1);
    }
  }
  .btn-plain {
    @include transition();
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;

    color: black(0.75);
    &:hover {
      color: var(--primary);
    }
    @include variants.dark {
      color: white(0.75);
      &:hover {
        color: var(--primary);
      }
    }

    &:not(.scale-animation) {
      &:hover {
        background-color: var(--btn-plain-bg-hover);
      }
      &:active {
        background-color: var(--btn-plain-bg-active);
      }
    }
    &.scale-animation {
      @extend .expand-animation;
      &.current-color-scheme-btn {
        color: var(--primary);
        @include before {
          scale: 1;
          opacity: 1;
          background-color: var(--btn-plain-bg-hover);
        }
      }
    }
  }
  .btn-regular {
    @include transition();
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--btn-regular-bg);
    &:hover {
      background-color: var(--btn-regular-bg-hover);
    }
    &:active {
      background-color: var(--btn-regular-bg-active);
    }

    color: var(--btn-content);
    @include variants.dark {
      color: white(0.75);
    }
  }

  .toc-hide,
  .toc-not-ready {
    opacity: 0;
    pointer-events: none;
  }

  #toc-inner-wrapper {
    mask-image: linear-gradient(
      to bottom,
      transparent 0%,
      black 2rem,
      black calc(100% - 2rem),
      transparent 100%
    );
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  @mixin text-black-or-white($alpha) {
    color: black($alpha);
    @include variants.dark {
      color: white($alpha);
    }
  }

  .text-90 {
    @include text-black-or-white(0.9);
  }
  .text-75 {
    @include text-black-or-white(0.75);
  }
  .text-50 {
    @include text-black-or-white(0.5);
  }
  .text-30 {
    @include text-black-or-white(0.3);
  }
  .text-25 {
    @include text-black-or-white(0.25);
  }

  .meta-icon {
    width: spacing(8);
    height: spacing(8);
    @include transition();
    border-radius: $radius-md;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--btn-regular-bg);
    color: var(--btn-content);
    margin-right: spacing(2);
  }

  .copy-btn-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transition();
    translate: -50% -50%;
  }

  .copy-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: with-hue(0.45, 0.01);
    &:hover {
      background-color: with-hue(0.5, 0.01);
    }
    &:active {
      background-color: with-hue(0.55, 0.01);
    }
    @include variants.dark {
      background-color: with-hue(0.3, 0.02);
      &:hover {
        background-color: with-hue(0.35, 0.03);
      }
      &:active {
        background-color: with-hue(0.4, 0.03);
      }
    }

    &.success {
      background-color: with-hue(0.75, 0.14);
      @include variants.dark {
        background-color: with-hue(0.75, 0.14);
      }
    }

    .copy-icon {
      opacity: 1;
      fill: $color-white;
      @include variants.dark {
        fill: white(0.75);
      }
    }
    &.copy-btn.success .copy-icon {
      opacity: 0;
      fill: var(--deep-text);
    }

    .success-icon {
      opacity: 0;
    }
    &.success .success-icon {
      opacity: 1;
    }
  }
}

.custom-md img,
#post-cover img {
  cursor: zoom-in;
}

::selection {
  background-color: var(--selection-bg);
}

.dash-line {
  position: relative;
  @include before {
    position: absolute;
    width: 10%;
    height: 100%;
    border: {
      style: dashed;
      left: {
        width: 2px;
        color: var(--line-color);
      }
    }
    pointer-events: none;
    translate: 0 -50%;
    left: calc(50% - 1px);
    transition: all 300ms;
  }
}

.collapsed {
  height: var(--collapsedHeight);
}
