@use 'sass:math';
@use 'theme' as *;
@use 'utils' as *;
@use 'variants';

.custom-md {
  img {
    border-radius: $radius-xl;
  }

  hr {
    border: {
      style: dashed;
      color: var(--line-divider);
    }
  }

  iframe {
    border-radius: $radius-xl;
    @include margin-x(auto);
    max-width: 100%;
  }
}
