@use 'main';
@use 'theme' as *;
@use 'utils' as *;
@use 'variants';

article.markdown {
  word-break: break-word;

  h1 {
    @include font-size($text-xl3);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover .anchor {
      opacity: 100%;
    }

    // MARK: Heading Anchors
    .anchor {
      transition-delay: 50ms !important;

      opacity: 0%;

      margin: spacing(-0.5);
      margin-inline-start: 0.2ch !important;

      padding: spacing(0.5) !important;

      text-decoration-line: none !important;

      user-select: none;

      .anchor-icon {
        margin-inline: 0.45ch !important;
      }
    }
  }

  :any-link:not(.no-styling) {
    @extend %link;

    background-image: none;

    text-decoration: underline dashed var(--link-underline) 1px;

    color: var(--primary);

    font-weight: $font-weight-medium;
    text-underline-offset: 4px;

    &:hover,
    &:active {
      text-decoration-color: transparent;
    }

    &[data-footnote-ref] {
      margin-inline-start: spacing(-0.5);

      text-decoration-line: none;
    }
  }

  code {
    border-radius: $radius-md;

    background-color: var(--inline-code-bg);

    padding: spacing(1);

    overflow: hidden;

    color: var(--inline-code-color);

    font-family:
      'Monaspace Radon', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;

    // MARK: Line Numbers
    counter-reset: line;
    font-feature-settings:
      'calt', 'liga', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07',
      'ss08', 'ss09';

    &::before,
    &::after {
      content: none;
    }

    span.line {
      &::before {
        display: inline flow-root;

        margin-inline-end: spacing(4);

        inline-size: spacing(4);

        text-align: end;

        color: var(--line-number);

        content: counter(line);

        counter-increment: line;
      }

      &:last-child:empty,
      &:last-child:has(> span:empty:only-child) {
        display: none;
      }
    }

    // italics don't look very good with my code font (Monaspace Radon)
    [style*='italic'] {
      font-style: normal !important;
    }
  }

  :not(pre) code {
    inset-block-end: spacing(0.2);

    font-weight: $font-weight-medium;
  }

  pre {
    border-radius: $radius-xl;

    background-color: var(--codeblock-bg) !important;

    padding-inline: spacing(5);

    code {
      @include font-size($text-sm);

      background-color: transparent;

      padding: 0;

      color: inherit;

      ::selection {
        background-color: var(--codeblock-selection);
      }
    }
  }

  :is(ul, ol) li::marker {
    color: var(--primary);
  }

  blockquote {
    position: relative;

    border-color: transparent;

    font-weight: inherit;
    font-style: normal;

    &::before {
      display: block flow;
      position: absolute;
      inset-inline-start: spacing(-1);

      border-radius: 9999px;

      background-color: var(--btn-regular-bg);

      block-size: 100%;
      inline-size: spacing(1);

      content: '';
    }

    // remove the double quotes
    p::before,
    p::after {
      content: none;
    }
  }

  img {
    border-radius: $radius-xl;
  }

  hr {
    border-style: dashed;

    border-color: var(--line-divider);
  }

  iframe {
    margin-inline: auto;

    border-radius: $radius-xl;

    max-inline-size: 100%;
  }
}
