@use 'sass:math';
@use 'theme' as *;
@use 'utils' as *;
@use 'variants';

.custom-md {
  img {
    border-radius: $radius-xl;
  }

  hr {
    border-style: dashed;
    border-color: var(--line-divider);
  }

  iframe {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    border-radius: $radius-xl;
  }
}
