.custom-md
  blockquote.admonition
    .bdm-title
      display: flex
      align-items: center
      margin-bottom: -0.9rem
      font-weight: bold

      &:before
        content: ' '
        display: inline-block
        font-size: inherit
        overflow: visible
        margin-right: 0.6rem
        height: 1em
        width: 1em
        vertical-align: -0.126em
        mask-size: contain
        mask-position: center
        mask-repeat: no-repeat
        transform: translateY(calc(1rem / 32))
    &.bdm-tip
      .bdm-title
        color: var(--admonitions-color-tip)

        &:before
          background: var(--admonitions-color-tip)
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 12h1m8-9v1m8 8h1M5.6 5.6l.7.7m12.1-.7l-.7.7M9 16a5 5 0 1 1 6 0a3.5 3.5 0 0 0-1 3a2 2 0 0 1-4 0a3.5 3.5 0 0 0-1-3m.7 1h4.6'/%3E%3C/svg%3E")
          scale: 137.5%

      &:before
        background: var(--admonitions-color-tip)
    &.bdm-note
      .bdm-title
        color: var(--admonitions-color-note)

        &:before
          background: var(--admonitions-color-note)
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0m9-3h.01'/%3E%3Cpath d='M11 12h1v4h1'/%3E%3C/g%3E%3C/svg%3E")
          scale: 137.5%

      &:before
        background: var(--admonitions-color-note)
    &.bdm-important
      .bdm-title
        color: var(--admonitions-color-important)

        &:before
          background: var(--admonitions-color-important)
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 9h8m-8 4h6m1 5l-3 3l-3-3H6a3 3 0 0 1-3-3V7a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v5.5M19 16v3m0 3v.01'/%3E%3C/svg%3E")
          scale: 137.5%

      &:before
        background: var(--admonitions-color-important)
    &.bdm-warning
      .bdm-title
        color: var(--admonitions-color-warning)

        &:before
          background: var(--admonitions-color-warning)
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 9v4m-1.637-9.409L2.257 17.125a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636-2.87L13.637 3.59a1.914 1.914 0 0 0-3.274 0zM12 16h.01'/%3E%3C/svg%3E")
          scale: 137.5%

      &:before
        background: var(--admonitions-color-warning)
    &.bdm-caution
      .bdm-title
        color: var(--admonitions-color-caution)

        &:before
          background: var(--admonitions-color-caution)
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' aria-hidden='true'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m12.802 2.165l5.575 2.389c.48.206.863.589 1.07 1.07l2.388 5.574c.22.512.22 1.092 0 1.604l-2.389 5.575c-.206.48-.589.863-1.07 1.07l-5.574 2.388c-.512.22-1.092.22-1.604 0l-5.575-2.389a2.04 2.04 0 0 1-1.07-1.07l-2.388-5.574a2.04 2.04 0 0 1 0-1.604l2.389-5.575c.206-.48.589-.863 1.07-1.07l5.574-2.388a2.04 2.04 0 0 1 1.604 0M12 8v4m0 4h.01'/%3E%3C/svg%3E")
          scale: 137.5%

      &:before
        background: var(--admonitions-color-caution)

  img
    border-radius: 0.75rem

  hr
    border-color: var(--line-divider)
    border-style: dashed

  iframe
    border-radius: 0.75rem
    margin-left: auto
    margin-right: auto
    max-width: 100%

a.card-github
  display: block
  background: var(--license-block-bg)
  position: relative
  margin: 0.5rem 0rem
  padding: 1.1rem 1.5rem 1.1rem 1.5rem
  color: var(--tw-prose-body)
  border-radius: var(--radius-large)
  text-decoration-thickness: 0px
  text-decoration-line: none

  &:hover
    background-color: var(--btn-regular-bg-hover)

    .gc-titlebar
      color: var(--btn-content)

    .gc-stars, .gc-forks, .gc-license, .gc-description
      color: var(--tw-prose-headings)

      &:before
        background-color: var(--tw-prose-headings)

  &:active
    scale: .98
    background-color: var(--btn-regular-bg-active);

  .gc-titlebar
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 0.5rem
    color: var(--tw-prose-headings)
    font-size: 1.25rem
    font-weight: 500

    .gc-titlebar-left
      display: flex
      flex-flow: row nowrap
      gap: 0.5rem

    .gc-repo
      font-weight: bold

    .gc-owner
      font-weight: 300
      position: relative
      display: flex
      flex-flow: row nowrap
      gap: 0.5rem
      align-items: center

    .gc-avatar
      display: block
      overflow: hidden
      width: 1.5rem
      height: 1.5rem
      margin-top: -0.1rem
      background-color: var(--primary)
      background-size: cover
      border-radius: 50%

  .gc-description
    margin-bottom: 0.7rem
    font-size: 1rem
    font-weight: 300
    line-height: 1.5rem
    color: var(--tw-prose-body)

  .gc-infobar
    display: flex
    flex-flow: row nowrap
    gap: 1.5rem
    color: var(--tw-prose-body)
    width: fit-content

  .gc-language
    display: none

  .gc-stars, .gc-forks, .gc-license, .github-logo
    font-weight: 500
    font-size: 0.875rem
    opacity: 90%;

    &:before
      content: ' '
      display: inline-block
      height: 1.3em
      width: 1.3em
      margin-right: 0.4rem
      vertical-align: -0.24em
      font-size: inherit
      background-color: var(--tw-prose-body)
      overflow: visible
      mask-size: contain
      mask-position: center
      mask-repeat: no-repeat
      transition-property: background-color, background;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
      transition-duration: 150ms

  .gc-stars
    &:before
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m12 17.75l-6.172 3.245l1.179-6.873l-5-4.867l6.9-1l3.086-6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z'/%3E%3C/svg%3E")
      
  .gc-license
    &:before
      margin-right: 0.5rem
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 21H6a3 3 0 0 1-3-3v-1h10v2a2 2 0 0 0 4 0V5a2 2 0 1 1 2 2h-2m2-4H8a3 3 0 0 0-3 3v11M9 7h4m-4 4h4'/%3E%3C/svg%3E")
      
  .gc-forks
    &:before
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' width='16' height='16' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M10 18a2 2 0 1 0 4 0a2 2 0 1 0-4 0M5 6a2 2 0 1 0 4 0a2 2 0 1 0-4 0m10 0a2 2 0 1 0 4 0a2 2 0 1 0-4 0'/%3E%3Cpath d='M7 8v2a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V8m-5 4v4'/%3E%3C/g%3E%3C/svg%3E")
      
  .github-logo
    font-size: 1.25rem

    &:before
      background-color: var(--tw-prose-headings)
      margin-right: 0rem
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2c2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2a4.2 4.2 0 0 0-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 0 0-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4 9.5c0 4.6 2.7 5.7 5.5 6c-.6.6-.6 1.2-.5 2V21'/%3E%3C/svg%3E")
      

a.card-github.fetch-waiting
  pointer-events: none
  opacity: 70%
  transition: opacity 150ms ease-in-out

  .gc-description, .gc-infobar, .gc-avatar
    background-color: var(--tw-prose-body)
    color: transparent
    opacity: 50%;
    animation: pulsate 2s infinite linear
    user-select: none

    &:before
      background-color: transparent

  .gc-repo
    margin-left: -0.1rem

  .gc-description, .gc-infobar
    border-radius: 0.5rem

a.card-github.fetch-error
  pointer-events: all
  opacity: 100%

@keyframes pulsate
  0%
    opacity: 15%
  50%
    opacity: 25%
  100%
    opacity: 15%

.card-github, .gc-description, .gc-titlebar, .gc-stars, .gc-forks, .gc-license, .gc-avatar, .github-logo
  transition-property: all
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
  transition-duration: 150ms
