@use 'classes';
@use 'theme' as *;
@use 'utils' as *;
@use 'variants' as *;

article.prose {
  word-break: break-word;

  h1 {
    @include font-size($text-xl3);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover .anchor {
      opacity: 100%;
    }

    /* MARK: Heading Anchors */
    .anchor {
      transition-delay: 50ms !important;

      opacity: 0%;

      margin-block: spacing(-0.5);
      margin-inline: 0.2ch spacing(-0.5) !important;

      padding-block: spacing(0.5) !important;
      padding-inline: spacing(0.5) !important;

      text-decoration-line: none !important;

      user-select: none;

      .anchor-icon {
        margin-inline: 0.45ch !important;
      }
    }
  }

  :any-link:not(.no-styling) {
    @extend %link;

    background-image: none;

    text-decoration: underline dashed var(--color-link-underline) 1px;

    color: var(--color-primary);

    font-weight: var(--fw-medium);
    text-underline-offset: 4px;

    &:hover,
    &:active {
      text-decoration-color: transparent;
    }

    &[data-footnote-ref] {
      margin-inline-start: spacing(-0.5);

      text-decoration-line: none;
    }
  }

  code {
    border-radius: var(--radius-md);

    background-color: var(--color-code-inline-bg);

    padding-block: spacing(1);
    padding-inline: spacing(1);

    overflow: hidden;

    color: var(--color-code-inline-text);

    /* MARK: Line Numbers; */
    counter-reset: line;

    &::before,
    &::after {
      content: none;
    }

    span.line {
      &::before {
        display: inline flow-root;

        margin-inline-end: spacing(4);

        inline-size: spacing(4);

        text-align: end;

        color: var(--color-code-block-line-number);

        content: counter(line);

        counter-increment: line;
      }

      &:last-child:empty,
      &:last-child:has(> span:empty:only-child) {
        display: none;
      }
    }

    /* italics don't look very good with my code font (Monaspace Radon) */
    [style*='italic'] {
      font-style: normal !important;
    }
  }

  :not(pre) code {
    inset-block-end: spacing(0.2);

    font-weight: var(--fw-medium);
  }

  pre {
    border-radius: var(--radius-xl);

    background-color: var(--color-code-block-bg) !important;

    padding-inline: spacing(5);

    code {
      @include font-size($text-sm);

      background-color: transparent;

      padding-block: 0;
      padding-inline: 0;

      color: inherit;
    }
  }

  :is(ul, ol) li::marker {
    color: var(--color-primary);
  }

  blockquote {
    position: relative;

    border-color: transparent;

    font-weight: inherit;
    font-style: normal;

    &::before {
      display: block flow;
      position: absolute;
      inset-inline-start: spacing(-1);

      border-radius: 9999px;

      background-color: var(--color-btn-regular-bg);

      block-size: 100%;
      inline-size: spacing(1);

      content: '';
    }
  }

  img {
    border-radius: var(--radius-xl);
  }

  hr {
    border-style: dashed;

    border-color: var(--color-line-divider);
  }

  iframe {
    margin-inline: auto;

    border-radius: var(--radius-xl);

    max-inline-size: 100%;
  }
}
