@use "sass:math";
@use "theme" as *;
@use "utils" as *;
@use "variants";

.custom-md {
  img {
    border-radius: $radius-xl;
  }

  hr {
    border-color: var(--line-divider);
    border-style: dashed;
  }

  iframe {
    border-radius: $radius-xl;
    margin: {
      left: auto;
      right: auto;
    }
    max-width: 100%;
  }
}
