@use "sass:list"
@use "./variables.sass" as *

// MARK: - Media

=desktop
  @media (min-width: $media-desktop)
    @content

=hide-in-print
  @media print
    display: none

// MARK: - Margins

=margin-x($left, $right: $left)
  margin-left: $left
  margin-right: $right

=margin-y($top, $bottom: $top)
  margin-top: $top
  margin-bottom: $bottom

// MARK: - Padding

=padding-x($left, $right: $left)
  padding-left: $left
  padding-right: $right

=padding-y($top, $bottom: $top)
  padding-top: $top
  padding-bottom: $bottom

// MARK: - Sizing

=size($width, $height: $width)
  width: $width
  height: $height

// MARK: - Transitions

=transition($transition-property)
  transition: $transition-property 0.1s linear
