@use "sass:map"
@use "sass:meta"

// MARK: - Media

=desktop
  @media (640px <= width)
    @content

=hide-in-print
  @media print
    display: none

// MARK: - Margins

=margin-x($left, $right: $left)
  margin:
    left: $left
    right: $right

=margin-y($top, $bottom: $top)
  margin:
    top: $top
    bottom: $bottom

// MARK: - Padding

=padding-x($left, $right: $left)
  padding:
    left: $left
    right: $right

=padding-y($top, $bottom: $top)
  padding:
    top: $top
    bottom: $bottom

// MARK: - Sizing

=size($width, $height: $width)
  width: $width
  height: $height

// MARK: - Transitions

=transition($properties...)
  transition: 100ms linear
    property: $properties

=hover-transition($args...)
  $properties: meta.keywords($args)
  
  +transition(map.keys($properties))
  &:hover
    @each $property, $value in $properties
      #{$property}: $value

// MARK: - Fonts

=font($size, $weight)
  font:
    size: $size
    weight: $weight
