@use 'theme' as *;
@use 'utils' as *;
@use 'variants';

// stylelint-disable-next-line selector-class-pattern
.pswp__button {
  display: block flex !important;

  align-items: center;
  justify-content: center;

  transition: ease-in-out $transition-duration !important;
  transition-property: $transition-properties;

  margin-inline-end: 0;

  background-color: black(40%);

  block-size: spacing(12);
  inline-size: spacing(12);

  &:hover {
    background-color: black(50%);
  }

  &:active {
    background-color: black(60%);
  }

  &--zoom {
    margin-inline-end: spacing(2.5) !important;
  }

  &--close {
    margin-inline-end: spacing(4) !important;
  }

  &--zoom,
  &--close {
    margin-block-start: spacing(4) !important;

    border-radius: $radius-xl !important;

    &:active {
      scale: 90% !important;
    }
  }
}
