@use "theme" as *;
@use "utils" as *;
@use "variants";

.pswp__button {
  transition: $ease-in-out $transition-duration !important;
  transition-property: $transition-properties;

  background-color: black(40%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  width: spacing(12);
  height: spacing(12);

  &:hover {
    background-color: black(50%);
  }
  &:active {
    background-color: black(60%);
  }

  &--zoom,
  &--close {
    margin-top: spacing(4) !important;
    border-radius: $radius-xl !important;
    &:active {
      scale: 90% !important;
    }
  }

  &--zoom {
    margin-right: spacing(2.5) !important;
  }
  &--close {
    margin-right: spacing(4) !important;
  }
}
