@use 'theme' as *;
@use 'utils' as *;
@use 'variants' as *;

.os-scrollbar {
  &.scrollbar-base {
    &.os-scrollbar-horizontal {
      padding-block: spacing(1);
      padding-inline: spacing(2);

      block-size: spacing(4);

      &:hover .os-scrollbar-track .os-scrollbar-handle {
        block-size: spacing(2);
      }

      .os-scrollbar-track .os-scrollbar-handle {
        border-radius: 9999px;

        block-size: spacing(1);
      }
    }

    &.os-scrollbar-vertical {
      padding-block: spacing(1);
      padding-inline: spacing(1);

      inline-size: spacing(4);

      &:hover .os-scrollbar-track .os-scrollbar-handle {
        inline-size: spacing(2);
      }

      .os-scrollbar-track .os-scrollbar-handle {
        border-radius: 9999px;

        inline-size: spacing(1);
      }
    }
  }

  &.scrollbar-auto {
    --os-handle-bg: var(--scrollbar-bg);
    --os-handle-bg-hover: var(--scrollbar-bg-hover);
    --os-handle-bg-active: var(--scrollbar-bg-active);
  }

  &.scrollbar-dark {
    --os-handle-bg: var(--scrollbar-bg-dark);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-dark);
    --os-handle-bg-active: var(--scrollbar-bg-active-dark);
  }

  &.scrollbar-light {
    --os-handle-bg: var(--scrollbar-bg-light);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-light);
    --os-handle-bg-active: var(--scrollbar-bg-active-light);
  }
}
