@use 'theme' as *;
@use 'utils' as *;
@use 'variants';

.os-scrollbar {
  &.scrollbar-base {
    &.os-scrollbar-horizontal {
      block-size: spacing(4);
      padding: spacing(1) spacing(2);

      .os-scrollbar-track .os-scrollbar-handle {
        block-size: spacing(1);

        border-radius: 9999px;
      }

      &:hover .os-scrollbar-track .os-scrollbar-handle {
        block-size: spacing(2);
      }
    }

    &.os-scrollbar-vertical {
      inline-size: spacing(4);
      padding: spacing(1);

      .os-scrollbar-track .os-scrollbar-handle {
        inline-size: spacing(1);

        border-radius: 9999px;
      }

      &:hover .os-scrollbar-track .os-scrollbar-handle {
        inline-size: spacing(2);
      }
    }
  }

  &.scrollbar-auto {
    --os-handle-bg: var(--scrollbar-bg);
    --os-handle-bg-hover: var(--scrollbar-bg-hover);
    --os-handle-bg-active: var(--scrollbar-bg-active);
  }

  &.scrollbar-dark {
    --os-handle-bg: var(--scrollbar-bg-dark);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-dark);
    --os-handle-bg-active: var(--scrollbar-bg-active-dark);
  }

  &.scrollbar-light {
    --os-handle-bg: var(--scrollbar-bg-light);
    --os-handle-bg-hover: var(--scrollbar-bg-hover-light);
    --os-handle-bg-active: var(--scrollbar-bg-active-light);
  }
}
