@use 'theme' as *;
@use 'utils' as *;
@use 'variants';

/* page transition animations with swup */
html.is-changing .transition-swup-fade {
  @include transition($properties: all, $duration: 200ms);
}
html.is-animating .transition-swup-fade {
  translate: 0 spacing(4);
  opacity: 0%;
}

/* fade-in animations for components */
@keyframes fade-in-up {
  0% {
    translate: 0 spacing(8);
    opacity: 0%;
  }
  100% {
    translate: 0 0;
    opacity: 100%;
  }
}

/* main components */
.onload-animation {
  opacity: 0%;
  animation: 300ms fade-in-up;
  animation-fill-mode: forwards;
}
#sidebar {
  animation-delay: 100ms;
}
