@use 'sass:list';
@use 'utils' as *;

$variables: (
  --primary: light-dark(with-hue(70%, 35%), with-hue(75%, 35%)),
  --page-bg: light-dark(with-hue(95%, 2.5%), with-hue(16%, 3.5%)),
  --card-bg: light-dark(white, with-hue(23%, 3.75%)),
  //
  --btn-content: light-dark(with-hue(55%, 30%), with-hue(75%, 25%)),
  //
  --btn-regular-bg: light-dark(with-hue(95%, 6.25%), with-hue(33%, 8.75%)),
  --btn-regular-bg-hover: light-dark(with-hue(90%, 12.5%), with-hue(38%, 10%)),
  --btn-regular-bg-active: light-dark(with-hue(85%, 20%), with-hue(43%, 11.25%)),
  //
  --btn-plain-bg-hover: light-dark(with-hue(95%, 6.25%), with-hue(30%, 8.75%)),
  --btn-plain-bg-active: light-dark(with-hue(98%, 2.5%), with-hue(27%, 6.25%)),
  //
  --btn-card-bg-hover: light-dark(with-hue(98%, 1.25%), with-hue(30%, 7.5%)),
  --btn-card-bg-active: light-dark(with-hue(90%, 7.5%), with-hue(35%, 8.75%)),
  //
  --enter-btn-bg: var(--btn-regular-bg),
  --enter-btn-bg-hover: var(--btn-regular-bg-hover),
  --enter-btn-bg-active: var(--btn-regular-bg-active),
  //
  --deep-text: with-hue(25%, 5%),
  //
  --title-active: with-hue(60%, 25%),
  //
  --line-divider: light-dark(black(20%), white(20%)),
  //
  --line-color: light-dark(black(10%), white(10%)),
  --meta-divider: light-dark(black(20%), white(20%)),
  //
  --caret-color: light-dark(with-hue(75%, 20%), with-hue(70%, 20%)),
  //
  --inline-code-bg: var(--btn-regular-bg),
  --inline-code-color: var(--btn-content),
  --selection-bg: light-dark(with-hue(90%, 12.5%), with-hue(70%, 20%)),
  --codeblock-selection: with-hue(40%, 20%),
  --codeblock-bg: light-dark(black(3%), with-hue(17%, 3.75%)),
  --line-number: light-dark(black(25%), white(25%)),
  //
  --license-block-bg: var(--codeblock-bg),
  //
  --profile-gradient-top: light-dark(with-hue(70%, 35%), with-hue(75%, 35%)),
  --profile-gradient-bottom: light-dark(with-hue(50%, 35%), with-hue(55%, 35%)),
  //
  --link-underline: light-dark(with-hue(93%, 10%), with-hue(40%, 20%)),
  --link-hover: light-dark(with-hue(95%, 6.25%), with-hue(40%, 20%)),
  --link-active: light-dark(with-hue(90%, 12.5%), with-hue(35%, 17.5%)),
  //
  --float-panel-bg: light-dark(white, with-hue(19%, 3.75%)),
  //
  --color-selection-bar: linear-gradient(
    to right in oklch longer hue,
    light-dark(oklch(80% 25% 0deg), oklch(70% 25% 0deg)) 0% 100%
  ),
  //
  --callout-color-tip: light-dark(oklch(70% 35% 180deg), oklch(75% 35% 180deg)),
  --callout-color-note: light-dark(oklch(70% 35% 250deg), oklch(75% 35% 250deg)),
  --callout-color-important: light-dark(oklch(70% 35% 310deg), oklch(75% 35% 310deg)),
  --callout-color-warning: light-dark(oklch(70% 35% 60deg), oklch(75% 35% 60deg)),
  --callout-color-caution: light-dark(oklch(60% 50% 25deg), oklch(65% 50% 25deg)),
  //
  --toc-badge-bg: light-dark(with-hue(90%, 11.25%), var(--btn-regular-bg)),
  --toc-btn-hover: light-dark(with-hue(92%, 3.75%), with-hue(22%, 5%)),
  --toc-btn-active: light-dark(with-hue(90%, 3.75%), with-hue(25%, 5%)),
  --toc-width: calc((100vw - var(--page-width)) / 2 - spacing(4)),
  --toc-item-active: light-dark(with-hue(70%, 32.5%), with-hue(35%, 17.5%)),
);

:root {
  --content-delay: 150ms;

  @each $name, $value in $variables {
    #{$name}: $value
  }
}
