// MARK: Font Weights
$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// MARK: Media Queries
$media-small: 640px;

// MARK: Widths
$max-width: 48rem;

// MARK: Letter Spacing
$letter-spacing-wide: 0.025em;

// MARK: Border Radii
$border-radius-default: 0.25rem;
$border-radius-md: 0.375rem;
$border-radius-lg: 0.5rem;

// MARK: Colors
$color-fill:       light-dark(#eff1f5, #24273a);
$color-text:       light-dark(#4c4f69, #cad3f5);
$color-accent:     light-dark(#1e66f5, #8aadf4);
$color-card:       light-dark(#acb0be, #5b6078);
$color-card-muted: light-dark(#bcc0cc, #494d64);
$color-border:     light-dark(#7c7f93, #939ab7);
$color-highlight:  light-dark(#df8e1d, #eed49f);

// MARK: Font Sizes
$font-size-base: (1rem, 1.5rem);
$font-size-xs: (0.75rem, 1rem);
$font-size-sm: (0.875rem, 1.25rem);
$font-size-lg: (1.125rem, 1.75rem);
$font-size-xl: (1.25rem, 1.75rem);
$font-size-2xl: (1.5rem, 2rem);
$font-size-3xl: (1.875rem, 2.25rem);
$font-size-5xl: (3rem, 1);
$font-size-9xl: (8rem, 1);
