---
import strings from '$/config/strings'
import { Icon } from 'astro-icon/components'
---

<div>
  <button
    id="back-to-top-btn"
    class="hide"
    onclick="window.scroll({ top: 0, behavior: 'smooth'})"
    aria-label={strings.alts.backToTop}
  >
    <Icon name="tabler:chevron-up" />
  </button>
</div>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  div {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: spacing(15);
    height: spacing(15);

    pointer-events: none;

    @include variants.lg {
      display: block;
    }

    #back-to-top-btn {
      @extend %btn-card;
      @include font-size($text-xl4);

      position: fixed;
      bottom: spacing(40);
      width: spacing(15);
      height: spacing(15);

      border-radius: $radius-xl2;

      opacity: 100%;

      color: var(--primary);
      font-weight: $font-weight-bold;

      cursor: pointer;
      pointer-events: auto;
      translate: spacing(20);

      svg {
        margin-right: auto;
        margin-left: auto;
      }

      &.hide {
        scale: 90%;

        opacity: 0%;

        pointer-events: none;
      }

      &:active {
        scale: 90%;
      }
    }
  }
</style>
