---
import { Icon } from 'astro-icon/components'
---

<div>
  <button
    id="back-to-top-btn"
    class="hide"
    onclick="window.scroll({ top: 0, behavior: 'smooth'})"
    aria-label="Back to Top"
  >
    <Icon name="tabler:chevron-up" />
  </button>
</div>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  div {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: spacing(15);
    height: spacing(15);
    pointer-events: none;

    @include variants.lg {
      display: block;
    }

    #back-to-top-btn {
      color: var(--primary);
      @include font-size($text-xl4);

      position: fixed;
      bottom: spacing(40);
      translate: spacing(20);
      opacity: 100%;
      cursor: pointer;
      border-radius: $radius-xl2;
      pointer-events: auto;
      font-weight: $font-weight-bold;

      @extend .btn-card;
      width: spacing(15);
      height: spacing(15);
      :global(svg) {
        @include margin-x(auto);
      }

      &.hide {
        scale: 90%;
        opacity: 0%;
        pointer-events: none;
      }
      &:active {
        scale: 90%;
      }
    }
  }
</style>
