---
import Profile from "@/components/widget/Profile.astro"
import Tag from "@/components/widget/Tags.astro"
import Categories from "@/components/widget/Categories.astro"

type Props = Readonly<{
  class?: string | undefined
}>

const { class: className } = Astro.props
---

<div id="sidebar" class:list={[className, "w-full"]}>
  <div class="flex flex-col w-full gap-4 mb-4">
    <Profile />
  </div>
  <div
    id="sidebar-sticky"
    class="transition-all duration-700 flex flex-col w-full gap-4 sticky top-4"
  >
    <Categories class="onload-animation" style="animation-delay: 150ms" />
    <Tag class="onload-animation" style="animation-delay: 200ms" />
  </div>
</div>
