---
export interface Props {
  badge?: string
  url?: string
  label?: string
}

const { badge, url, label } = Astro.props
---

<a href={url} aria-label={label}>
  <div class="title">
    <slot />
  </div>
  {badge !== undefined && <div class="badge">{badge}</div>}
</a>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;

  a {
    display: block flex;
    position: relative;

    align-items: center;
    justify-content: space-between;

    transition-duration: var(--transition-duration);
    transition-property: all;
    transition-timing-function: var(--transition-function);

    border-radius: var(--radius-lg);

    background-image: none;

    padding-inline: spacing(2);

    block-size: spacing(10);
    inline-size: 100%;

    color: var(--color-category-link-text);

    &:active {
      background-color: var(--color-btn-plain-bg-active);
    }

    &:hover {
      background-color: var(--color-btn-plain-bg-hover);

      padding-inline-start: spacing(3);

      color: var(--color-primary);
    }
  }

  .title {
    overflow: hidden;

    text-align: start;
    text-overflow: ellipsis;

    white-space: nowrap;
  }

  .badge {
    display: block flex;

    align-items: center;
    justify-content: center;

    margin-inline-start: spacing(4);

    border-radius: var(--radius-lg);

    background-color: var(--color-category-link-badge);

    padding-inline: spacing(2);

    block-size: spacing(7);
    min-inline-size: spacing(8);

    color: var(--color-category-link-badge-text);

    font-size: var(--text-sm);
    font-weight: var(--fw-bold);
  }
</style>
