---
export interface Props {
  badge?: string
  url?: string
  label?: string
}

const { badge, url, label } = Astro.props
---

<a href={url} aria-label={label}>
  <button>
    <div class="wrapper">
      <header class="title">
        <slot />
      </header>
      {badge !== undefined && <div class="badge">{badge}</div>}
    </div>
  </button>
</a>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  button {
    @include transition($properties: all);

    border-radius: var(--radius-lg);

    background-image: none;

    padding-inline-start: spacing(2);

    block-size: spacing(10);
    inline-size: 100%;

    color: var(--color-category-link-text);

    &:active {
      background-color: var(--color-btn-plain-bg-active);
    }

    &:hover {
      background-color: var(--color-btn-plain-bg-hover);

      padding-inline-start: spacing(3);

      color: var(--color-primary);
    }
  }

  .wrapper {
    display: block flex;
    position: relative;

    align-items: center;
    justify-content: space-between;

    margin-inline-end: spacing(2);
  }

  .title {
    overflow: hidden;

    text-align: start;
    text-overflow: ellipsis;

    white-space: nowrap;
  }

  .badge {
    @include font-size($text-sm);

    display: block flex;

    align-items: center;
    justify-content: center;

    margin-inline-start: spacing(4);

    border-radius: var(--radius-lg);

    background-color: var(--color-category-link-badge);

    padding-inline: spacing(2);

    block-size: spacing(7);
    min-inline-size: spacing(8);

    color: var(--color-category-link-badge-text);

    font-weight: var(--fw-bold);
  }
</style>
