---
import "@fontsource/monaspace-radon"

type Props = Readonly<{
  class: string
}>
const { class: className } = Astro.props
---

<div
  data-pagefind-body
  class=`prose dark:prose-invert prose-base !max-w-none custom-md ${className}`
>
  <slot />
</div>

<script>
  const observer = new MutationObserver(addPreCopyButton)
  observer.observe(document.body, { childList: true, subtree: true })

  document.addEventListener("DOMContentLoaded", addPreCopyButton)

  function addPreCopyButton(): void {
    observer.disconnect()

    let codeBlocks = Array.from(document.querySelectorAll("pre"))

    for (const codeBlock of codeBlocks) {
      if (
        codeBlock.parentElement?.nodeName === "DIV" &&
        codeBlock.parentElement?.classList.contains("code-block")
      )
        continue

      let wrapper = document.createElement("div")
      wrapper.className = "relative code-block"

      let copyButton = document.createElement("button")
      copyButton.className =
        "copy-btn btn-regular-dark absolute active:scale-90 h-8 w-8 top-2 right-2 opacity-75 text-sm p-1.5 rounded-lg transition-all ease-in-out"

      codeBlock.setAttribute("tabindex", "0")
      codeBlock.parentNode?.insertBefore(wrapper, codeBlock)

      let copyIcon =
        '<svg class="copy-btn-icon copy-icon" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M7 9.667A2.667 2.667 0 0 1 9.667 7h8.666A2.667 2.667 0 0 1 21 9.667v8.666A2.667 2.667 0 0 1 18.333 21H9.667A2.667 2.667 0 0 1 7 18.333z"/><path d="M4.012 16.737A2 2 0 0 1 3 15V5c0-1.1.9-2 2-2h10c.75 0 1.158.385 1.5 1"/></g></svg>'
      let successIcon =
        '<svg class="copy-btn-icon success-icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m389-377.13 294.7-294.7q12.58-12.67 29.52-12.67 16.93 0 29.61 12.67 12.67 12.68 12.67 29.53 0 16.86-12.28 29.14L419.07-288.41q-12.59 12.67-29.52 12.67-16.94 0-29.62-12.67L217.41-430.93q-12.67-12.68-12.79-29.45-.12-16.77 12.55-29.45 12.68-12.67 29.62-12.67 16.93 0 29.28 12.67L389-377.13Z"/></svg>'
      copyButton.innerHTML = `<div>${copyIcon} ${successIcon}</div>`

      wrapper.appendChild(codeBlock)
      wrapper.appendChild(copyButton)

      let timeout: ReturnType<typeof setTimeout>
      copyButton.addEventListener("click", async () => {
        if (timeout) {
          clearTimeout(timeout)
        }

        const text = codeBlock?.querySelector("code")?.innerText
        if (text === undefined) return

        await navigator.clipboard.writeText(text)
        copyButton.classList.add("success")
        timeout = setTimeout(() => copyButton.classList.remove("success"), 1000)
      })
    }

    observer.observe(document.body, { childList: true, subtree: true })
  }
</script>
