---
import type { Post } from '$/types/content'

import { getPostUrlByID } from '$/utils/urls'
import { Icon } from 'astro-icon/components'

export interface Props {
  entry: Post
  type: 'next' | 'prev'
}

const { entry, type } = Astro.props

const icon = `tabler:chevron-${type === 'next' ? 'left' : 'right'}`
---

<a href={getPostUrlByID(entry.id)} class={type}>
  <Icon name={icon} />
  <div class="title">{entry.data.title}</div>
</a>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/variants' as *;

  a {
    @extend %btn-card;

    display: block flex;

    gap: spacing(4);

    align-items: center;
    justify-content: flex-start;

    transition-duration: var(--transition-duration);
    transition-property: var(--transition-properties);
    transition-timing-function: var(--transition-function);

    border-radius: var(--radius-xl2);

    padding-inline: spacing(4);

    block-size: spacing(15);
    inline-size: 100%;
    max-inline-size: calc(50% - spacing(2));

    overflow: hidden;

    font-weight: var(--fw-bold);

    &:active {
      scale: 95%;
    }

    .title {
      max-inline-size: calc(100% - spacing(12));

      overflow: hidden;

      text-overflow: ellipsis;

      white-space: nowrap;
      color: var(--color-post-pagination-text);
    }

    [data-icon] {
      block-size: spacing(8);
      inline-size: spacing(8);

      color: var(--color-primary);
    }

    &.next {
      flex-direction: row;
    }

    &.prev {
      flex-direction: row-reverse;
    }

    @media (width < $breakpoint-md) {
      max-inline-size: 100%;
    }
  }
</style>
