---
import type { Post } from '$/types/content'

import { getPostUrlByID } from '$/utils/urls'
import { Icon } from 'astro-icon/components'

interface Props {
  entry: Post
  type: 'next' | 'prev'
}

const { entry, type } = Astro.props

const icon = `tabler:chevron-${type === 'next' ? 'left' : 'right'}` as const
---

<a href={getPostUrlByID(entry.id)} class={type}>
  <div class='link-wrapper'>
    <Icon name={icon} />
    <div class='title'>{entry.data.title}</div>
  </div>
</a>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  a {
    inline-size: 100%;
    max-inline-size: 100%;

    overflow: hidden;

    font-weight: $font-weight-bold;

    &:active {
      scale: 95%;
    }

    .link-wrapper {
      @extend %btn-card;

      display: block flex;

      gap: spacing(4);

      align-items: center;
      justify-content: flex-start;

      border-radius: $radius-xl2;

      padding-inline: spacing(4);

      block-size: spacing(15);
      inline-size: 100%;
      max-inline-size: 100%;

      .title {
        max-inline-size: calc(100% - spacing(12));

        overflow: hidden;

        text-overflow: ellipsis;

        white-space: nowrap;
        color: bw(75%);
      }

      svg {
        block-size: spacing(8);
        inline-size: spacing(8);

        color: var(--primary);
      }
    }

    &.next .link-wrapper {
      flex-direction: row;
    }

    &.prev .link-wrapper {
      flex-direction: row-reverse;
    }

    @include md {
      max-inline-size: calc(50% - spacing(2));
    }
  }
</style>
