---
import type { Post } from '$/types/content'

import { getSortedPosts } from '$/utils/content'
import PaginationLink from '$/components/post/pagination/PaginationLink.astro'

interface Props {
  entry: Post
}

const { entry } = Astro.props

const allPosts = await getSortedPosts()
const index = allPosts.findIndex((other) => other.id === entry.id)
const prevEntry = allPosts[index - 1]
const nextEntry = allPosts[index + 1]
---

<nav>
  {
    nextEntry !== undefined ? (
      <PaginationLink entry={nextEntry} type="next" />
    ) : (
      <div class="spacer" />
    )
  }
  {
    prevEntry !== undefined ? (
      <PaginationLink entry={prevEntry} type="prev" />
    ) : (
      <div class="spacer" />
    )
  }
</nav>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    inline-size: 100%;
    margin-block-end: spacing(4);
    overflow: hidden;
    gap: spacing(4);

    @include variants.md {
      flex-direction: row;
    }

    .spacer {
      visibility: hidden;
    }
  }
</style>
