---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import BackButton from "@components/BackButton.astro";
---

<Layout title={`404 | ${SITE.title}`} description="page not found">
  <main>
    <div class="not-found-wrapper">
      <h1>404</h1>
      <span class="url">{Astro.url}</span>
      <p>page not found</p>
      <BackButton class="text-lg mb-2 mt-4"/>
    </div>
  </main>
</Layout>

<style>
  main {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }

  .url {
    @apply italic opacity-80;
  }
</style>
