---
import BaseLayout from "@layouts/BaseLayout.astro";
import BackButton from "@components/BackButton.astro";
---

<BaseLayout title="404" description="page not found" activeNav={null}>
  <main>
    <h1>404</h1>
    <div class="url">{Astro.url}</div>
    <div class="not-found">page not found</div>
    <BackButton/>
  </main>
</BaseLayout>

<style lang="sass">
  main
    +margin-x(auto)
    margin-bottom: 3.5rem
    display: flex
    flex: 1
      direction: column
    align-items: center
    justify-content: center
    text-align: center
  
    h1
      +font(8rem, font-weights.$bold)
      color: colors.$accent
    .not-found
      margin-top: 1rem
      font-size: font-sizes.$extralarge2
      @include desktop
        font-size: font-sizes.$extralarge3

  .url
    font-style: italic
    opacity: 80%

  :global(.back-button)
    +margin-y(1rem, 0.5rem)
    font-size: font-sizes.$large
</style>
