---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CardList from "@/components/CardList.astro";
import Socials from "@/components/Socials.astro";

import RSSIcon from "@/assets/icons/rss.svg";

import { Content } from "@/assets/description.md";

import allPosts from "@/utils/allPosts";
import { SITE } from "@/config";

/** All featured posts. */
const featuredPosts = allPosts.filter(post => post.isFeatured);

/** All non-featured posts. */
const nonFeaturedPosts = allPosts.filter(post => !post.isFeatured);
---

<BaseLayout activeNav={null}>
  <main>
    <section id="hero">
      <h1 lang="ja">私のサイトへようこそ！</h1>
      <a
        target="_blank"
        href="/rss.xml"
        id="rss-link"
        aria-label="RSS feed"
        title="RSS feed"
      >
        <RSSIcon/>
      </a>

      <article>
        <Content/>
      </article>
      <div class="social-wrapper">
        <div class="social-links-text">&ldquo;Social&rdquo; links:</div>
        <Socials/>
      </div>
    </section>

    <hr aria-hidden={true}/>

    {featuredPosts.length > 0 && <>
      <section id="featured">
        <h2>featured</h2>
        <CardList posts={featuredPosts} useLevel3Heading/>
      </section>
      {nonFeaturedPosts.length > 0 && <hr aria-hidden={true}/>}
    </>}

    {nonFeaturedPosts.length > 0 &&
      <section id="recent-posts">
        <h2>recent</h2>
        <CardList
          posts={nonFeaturedPosts.slice(0, SITE.postsPerIndex)}
          useLevel3Heading
        />
      </section>
    }

    <a id="all-posts-button" href="/posts/">
      all posts
    </a>
  </main>
</BaseLayout>

<style lang="sass">
  #hero
    +padding-y(1rem, 1.5rem)

    h1
      +margin-y(1rem)
      display: inline-block
      +font(font-sizes.$extralarge2, font-weights.$bold)
      @include desktop
        +margin-y(2rem)
        font-size: 3rem
    
    #rss-link
      margin-bottom: 1.5rem
      svg
        margin-bottom: 0.5rem
        +size(1.5rem)
        scale: 110%
        color: colors.$accent
        @include desktop
          margin-bottom: 0.75rem
          scale: 125%
          
    p
      +margin-y(0.5rem)

  .social-wrapper
    margin-top: 1rem
    display: flex
    flex-direction: column
    @include desktop
      flex-direction: row
      align-items: center
  
  .social-links-text
    margin:
      bottom: 0.25rem
      right: 0.5rem
    white-space: nowrap
    @include desktop
      margin-bottom: 0rem

  #featured, #recent-posts
    +padding-y(3rem, 1.5rem)

    h2
      +font(font-sizes.$extralarge2, font-weights.$semibold)
      
  #all-posts-button
    display: block
    margin-bottom: 2rem
    text-align: center
    +hover-transition($color: colors.$accent)
    @include hide-in-print
    &::after
      content: chars.$arrow-right
</style>
