---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import SearchBar from "@components/Search";
import getPosts from "@utils/getPosts";

/** A list of all posts, sorted by date. */
const posts = await getPosts();

/** The description of the Search page. */
const description = "search for posts";
---

<Layout title={`search | ${SITE.title}`} {description} activeNav="search">
  <Main title="search" {description}>
    <SearchBar client:load {posts}/>
  </Main>
</Layout>
