---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import SearchBar from "@components/Search";
import getSortedPosts from "@utils/getSortedPosts";

/** A list of all posts, sorted by date. */
const posts = await getSortedPosts();

/** A list of posts to search through. */
const searchList = posts.map(({ data, id }) => ({
  title: data.title,
  description: data.description,
  data,
  id,
}));

/** The description of the Search page. */
const description = "search for posts";
---

<Layout title={`search | ${SITE.title}`} {description} activeNav="search">
  <Main title="search" {description}>
    <SearchBar client:load {searchList}/>
  </Main>
</Layout>
