---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import SearchBar from "@components/Search";
import getSortedPosts from "@utils/getSortedPosts";

// Retrieve all published articles
const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts);

// List of items to search in
const searchList = sortedPosts.map(({ data, id }) => ({
  title: data.title,
  description: data.description,
  data,
  id,
}));

const description = "search for posts";
---

<Layout title={`search | ${SITE.title}`} {description} activeNav="search">
  <Main title="search" {description}>
    <SearchBar client:load {searchList}/>
  </Main>
</Layout>
