---
import { Icon } from 'astro-icon/components'

export interface Props {
  url: string | undefined
  label: string
  icon: string
}

const { url, label, icon } = Astro.props
---

<a href={url} aria-label={label} aria-disabled={url === undefined}>
  <Icon name={icon} />
</a>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/variants' as *;

  a {
    @extend %btn-card;

    border-radius: var(--radius-lg);

    block-size: spacing(11);
    inline-size: spacing(11);

    overflow: hidden;

    color: var(--color-primary);

    &:active {
      scale: 85%;
    }

    [data-icon] {
      block-size: spacing(7);
      inline-size: spacing(7);
    }
  }
</style>
