---
import { Icon } from 'astro-icon/components'

interface Props {
  url: string | undefined
  label: string
  icon: string
}

const { url, label, icon } = Astro.props
---

<a
  href={url}
  aria-label={label}
  aria-disabled={url === undefined}
>
  <Icon name={icon} />
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  a {
    @extend %btn-card;

    border-radius: $radius-lg;

    block-size: spacing(11);
    inline-size: spacing(11);

    overflow: hidden;

    color: var(--primary);

    &:active {
      scale: 85%;
    }

    svg {
      block-size: spacing(7);
      inline-size: spacing(7);
    }
  }
</style>
