// https://catppuccin.com/palette (Latte and Macchiato)
$raw-rosewater: light-dark(#dc8a78, #f4dbd6)
$raw-flamingo:  light-dark(#dd7878, #f0c6c6)
$raw-pink:      light-dark(#ea76cb, #f5bde6)
$raw-mauve:     light-dark(#8839ef, #c6a0f6)
$raw-red:       light-dark(#d20f39, #ed8796)
$raw-maroon:    light-dark(#e64553, #ee99a0)
$raw-peach:     light-dark(#fe640b, #ee99a0)
$raw-yellow:    light-dark(#df8e1d, #eed49f)
$raw-green:     light-dark(#40a02b, #a6da95)
$raw-teal:      light-dark(#179299, #8bd5ca)
$raw-sky:       light-dark(#04a5e5, #91d7e3)
$raw-sapphire:  light-dark(#209fb5, #7dc4e4)
$raw-blue:      light-dark(#1e66f5, #8aadf4)
$raw-lavender:  light-dark(#7287fd, #b7bdf8)
$raw-text:      light-dark(#4c4f69, #cad3f5)
$raw-subtext1:  light-dark(#5c5f77, #b8c0e0)
$raw-subtext0:  light-dark(#6c6f85, #a5adcb)
$raw-overlay2:  light-dark(#7c7f93, #939ab7)
$raw-overlay1:  light-dark(#8c8fa1, #8087a2)
$raw-overlay0:  light-dark(#9ca0b0, #6e738d)
$raw-surface2:  light-dark(#acb0be, #5b6078)
$raw-surface1:  light-dark(#bcc0cc, #494d64)
$raw-surface0:  light-dark(#ccd0da, #363a4f)
$raw-base:      light-dark(#eff1f5, #24273a)
$raw-mantle:    light-dark(#e6e9ef, #1e2030)
$raw-crust:     light-dark(#dce0e8, #181926)

$background: $raw-base
$text:       $raw-text
$accent:     $raw-blue
$card:       $raw-surface1
$card-muted: $raw-surface0
$border:     $raw-overlay2
$highlight:  $raw-yellow

$code-highlight: $raw-surface2
$error:          $raw-red
