$background: light-dark(#eff1f5, #24273a)
$text:       light-dark(#4c4f69, #cad3f5)
$accent:     light-dark(#1e66f5, #8aadf4)
$card:       light-dark(#bcc0cc, #494d64)
$card-muted: light-dark(#ccd0da, #363a4f)
$border:     light-dark(#7c7f93, #939ab7)
$highlight:  light-dark(#df8e1d, #eed49f)

$code-highlight: light-dark(#acb0be, #5b6078)
$error:          light-dark(#d20f39, #ed8796)
