---
export interface Props {
  /** Classes to apply to the button. */
  class?: string,
}

const { class: className = "" } = Astro.props;
---

<div class={className}>
  <button onclick="history.length === 1 ? location = '/' : history.back()">
    &larr; go back
  </button>
</div>

<style lang="scss">
  button {
    display: flex;
    transition: opacity 0.1s linear;
    &:hover { opacity: 75%; }
  }
</style>
