<button onclick="document.documentElement.scrollTop = 0;">
  back to top
</button>

<style lang="sass">
  button
    outline: 2px solid transparent
      offset: 2px
    white-space: nowrap
    +padding-y(0.25rem)
    
    @include hover-transition(opacity, 75%)

    &::before
      content: "#{chars.$up-arrow} "
</style>
