<button onclick="document.documentElement.scrollTop = 0;">
  back to top
</button>

<style lang="sass">
  button
    outline: 2px solid transparent
      offset: 2px
    white-space: nowrap
    +padding-y(0.25rem)
    +transition(opacity)
    
    &:hover
      opacity: 75%
      color: $color-text

    &::before
      content: "#{$char-up-arrow} "
</style>
