<button onclick="document.documentElement.scrollTop = 0">
  back to top
</button>

<style lang="sass">
  button
    +hover-transition($opacity: 75%)

    @each $pseudo in (before, after)
      &::#{$pseudo}
        content: chars.$arrow-up
</style>
