---
export interface Props {
  /** Classes to apply to the button. */
  class?: string,
}

const { class: className = "" } = Astro.props;
---

<div class={className}>
  <button onclick="history.length === 1 ? location = '/' : history.back()">
    go back
  </button>
</div>

<style lang="sass">
  button
    display: flex
    +hover-transition(opacity, 75%)
    +hide-in-print
    &::before
      white-space: preserve nowrap
      content: "#{chars.$arrow-left} "
</style>
