<div class="back-button"}>
  <button onclick="if (history.length === 1) { location = '/'; } else { history.back(); }">
    go back
  </button>
</div>

<style lang="sass">
  button
    @include hover-transition($opacity: 75%)
    @include hide-in-print
    &::before
      content: chars.$arrow-left
</style>
