<button onclick="document.documentElement.scrollTop = 0">
  back to top
</button>

<style lang="sass">
  button
    outline: 2px solid transparent
      offset: 2px
    white-space: nowrap
    +padding-y(0.25rem)
    
    +hover-transition($opacity: 75%)

    @each $pseudo in (before, after)
      &::#{$pseudo}
        content: chars.$arrow-up
</style>
