<button onclick="document.documentElement.scrollTop = 0;">
  &uarr; back to top
</button>

<style lang="scss">
  button {
    outline: 2px solid transparent;
    outline-offset: 2px;
    white-space: nowrap;
    padding-top: theme("spacing.1");
    padding-bottom: theme("spacing.1");
    transition: opacity 0.1s linear;
    
    &:hover { opacity: 75%; }
  }
</style>
