---
export interface Props {
  /** Classes to apply to the button. */
  class?: string,
}

const { class: className = "" } = Astro.props;
---

<div class={className}>
  <button onclick="history.length === 1 ? location = '/' : history.back()">
    go back
  </button>
</div>

<style lang="sass">
  button
    display: flex
    @include transition-opacity
    @include hide-in-print
    &::before
      white-space: preserve nowrap
      content: "#{$char-left-arrow} "
</style>
