---
import Hr from "@components/Hr.astro";
import Socials from "@components/Socials.astro";
import { SITE } from "@config";

/** The current year. */
const currentYear = new Date().getFullYear();
---

<footer>
  <Hr noPadding/>
  <div id="footer-wrapper">
    <Socials/>
    <div id="copyright">
      Copyright &copy; {currentYear} {SITE.author}
    </div>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    margin-top: auto;
    @apply w-full mt-auto;
  }
  #footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:flex-row-reverse sm:py-4;
  }
  #copyright {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
</style>
