---
import { profileConfig } from "$/config"
import { url } from "$/utils/urls"
const currentYear = new Date().getFullYear()
---

<div class="footer-border"></div>
<footer>
  <div class="footer-content">
    &copy; {currentYear}
    {profileConfig.name} /
    <a target="_blank" href={url("rss.xml")}>RSS</a>
    /
    <a target="_blank" href={url("sitemap-index.xml")}>Sitemap</a>
    /
    <a
      target="_blank"
      href="https://github.com/kaascevich/kaascevich.github.io"
    >
      Source
    </a>

    <br />

    Powered by
    <a target="_blank" href="https://astro.build">Astro</a>
    &
    <a target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
  </div>
</footer>

<style lang="scss">
  @use "$/styles/main";
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  .footer-border {
    @include transition();
    margin: spacing(10) spacing(16);

    border: {
      top-width: 1px;
      style: dashed;
      color: black(10%);
    }
    @include variants.dark {
      border-color: white(15%);
    }
  }

  footer {
    @include transition();
    border-radius: $radius-xl2;
    marign-bottom: spacing(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: {
      left: spacing(6);
      right: spacing(6);
      bottom: spacing(6);
    }

    .footer-content {
      @include text-plain(50%);
      @include font-size($text-sm);
      text-align: center;

      a {
        @extend .link;
        color: var(--primary);
        font-weight: $font-weight-medium;
      }
    }
  }
</style>
