---
import Hr from "@components/Hr.astro";
import Socials from "@components/Socials.astro";
import { SITE } from "@config";

/** The current year. */
const currentYear = new Date().getFullYear();
---

<footer>
  <Hr noPadding/>
  <div id="footer-wrapper">
    <Socials/>
    <div id="copyright">
      Copyright &copy; {currentYear} {SITE.author}
    </div>
  </div>
</footer>

<style lang="scss">
  footer {
    width: 100%;
    margin-top: auto;
  }
  #footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: theme("spacing.6");
    padding-bottom: theme("spacing.6");

    @media (min-width: theme("screens.sm")) {
      flex-direction: row-reverse;
      padding-top: theme("spacing.4");
      padding-bottom: theme("spacing.4");
    }
  }
  #copyright {
    margin-top: theme("spacing.2");
    margin-bottom: theme("spacing.2");
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    
    @media (min-width: theme("screens.sm")) {
      flex-direction: row;
    }
  }
</style>
