---
import Socials from "@/components/Socials.astro"
import { SITE } from "@/config"

/** The current year. */
const currentYear = new Date().getFullYear()
---

<footer>
  <hr aria-hidden={true}/>
  <div class="footer-wrapper">
    <div class="copyright">
      copyright &copy; {currentYear} {SITE.author}
    </div>
    <Socials/>
  </div>
</footer>

<style lang="sass">
  footer
    width: 100%
    margin-top: auto
    @include hide-in-print

    .footer-wrapper
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      +padding-y(1.5rem)

      @include desktop
        flex-direction: row
        +padding-y(1rem)
    
      .copyright
        +margin-y(0.5rem)
        white-space: nowrap
</style>
