---
import Socials from "@components/Socials.astro";
import { SITE } from "@config";

/** The current year. */
const currentYear = new Date().getFullYear();
---

<footer>
  <hr aria-hidden/>
  <div class="footer-wrapper">
    <Socials/>
    <div class="copyright">
      Copyright &copy; {currentYear} {SITE.author}
    </div>
  </div>
</footer>

<style lang="sass">
  footer
    width: 100%
    margin-top: auto
    @include hide-in-print

    .footer-wrapper
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      +padding-y(1.5rem)

      @include desktop
        flex-direction: row-reverse
        +padding-y(1rem)
    
      .copyright
        +margin-y(0.5rem)
        display: flex
        flex-direction: column
        align-items: center
        white-space: nowrap
        
        @include desktop
          flex-direction: row
</style>
