---
import { profileConfig } from "$/config"
import { url } from "$/utils/urls"
const currentYear = new Date().getFullYear()
---

<div id="footer-border"></div>

<div id="footer">
  &copy; {currentYear}
  {profileConfig.name}
  /
  <a target="_blank" href={url("rss.xml")}>RSS</a>
  /
  <a target="_blank" href={url("sitemap-index.xml")}>Sitemap</a>
  <br />
  Powered by
  <a target="_blank" href="https://astro.build">Astro</a>
  &
  <a target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
</div>

<style>
  #footer-border {
    @apply transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32;
  }

  #footer {
    @apply transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12
    items-center justify-center px-6 text-50 text-sm text-center;

    a {
      @apply transition link text-[--primary] font-medium;
    }
  }
</style>
