---
import { SITE } from "@/config"

import NavMenu from "@/components/NavMenu.astro"
import SkipToContent from "@/components/SkipToContent.astro"

import SearchIcon from "@/assets/icons/search.svg"
import SunIcon from "@/assets/icons/sun.svg"
import MoonIcon from "@/assets/icons/moon.svg"

/** The main navigation items. */
const navItems = ["posts", "tags", "songs", "about", "search"] as const

/** A navigation item. */
export type NavItem = typeof navItems[number] | null

interface Props {
  /** The active navigation item. */
  activeNav: NavItem
}

const { activeNav } = Astro.props
---

<header>
  <SkipToContent/>
  <div id="nav-container">
    <a href="/" id="logo" aria-label="home">{SITE.title}</a>
    <NavMenu class="nav-menu">
      {navItems.map(navItem => <li>
        <a
          href={`/${navItem}/`}
          class:list={[activeNav === navItem && "active"]}
          aria-label={navItem}
        >
          {navItem === "search" ? <SearchIcon/> : navItem}
        </a>
      </li>)}
      <li>
        <button
          id="theme-button"
          title="current theme: automatic"
          aria-label="toggle theme"
          aria-live="polite"
        >
          <MoonIcon id="moon-svg"/>
          <SunIcon id="sun-svg"/>
        </button>
      </li>
    </NavMenu>
  </div>
  <hr aria-hidden={true}/>
</header>

<style lang="sass">
  header
    @include hide-in-print
    
    #nav-container
      +margin-x(auto)
      position: relative
      display: flex
      width: 100%
      flex-direction: column
      align-items: flex-start
      justify-content: space-between
      +padding-y(1rem)
      @include desktop
        flex-direction: row
        align-items: center
        +padding-y(2rem)
    
      #logo
        position: absolute
        +padding-y(0.25rem)
        font-weight: font-weights.$semibold
        white-space: nowrap
        font-size: 1.25rem
        +hover-transition($color: colors.$accent)
        @include desktop
          position: static
          font-size: 1.5rem

      .nav-menu li
        grid-column: span 1 / span 1
        display: flex
        align-items: center
        justify-content: center

        a, button
          padding: 0.25rem
          +hover-transition($color: colors.$accent)
          svg
            +size(1.5rem)
            scale: 125%
            @include desktop
              scale: 100%

        a
          width: 100%
          padding: 0.75rem 1rem
          text-align: center
          font-weight: 450

          @include desktop
            +margin-y(0rem)
            padding: 0.25rem 0.5rem

          &.active
            font-weight: font-weights.$extrabold
            svg
              stroke-width: 3.5

        button
          padding: 0.75rem
          @include desktop
            padding: 0.25rem

  #sun-svg, :root[data-theme="dark"] #moon-svg
    display: none

  #moon-svg, :root[data-theme="dark"] #sun-svg
    display: block
</style>
