---
import { SITE } from "@config";
import Hr from "@components/Hr.astro";
import LinkButton from "@components/LinkButton.astro";

/** The main navigation items. */
const mainNavItems = [
  "posts",
  "tags",
  "songs",
  "about",
] as const;

/** A navigation item. */
export type NavItem = typeof mainNavItems[number] | "search";

export interface Props {
  /** The active navigation item. */
  activeNav?: NavItem,
}

const { activeNav } = Astro.props;
---

<header>
  <a id="skip-to-content" href="#main-content">skip to content</a>
  <div id="nav-container">
    <div id="top-nav-wrap">
      <a href="/" id="logo">{SITE.title}</a>
      <nav>
        <button
          id="hamburger-menu"
          aria-label="open menu"
          aria-expanded={false}
          aria-controls="menu-items"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="7" y1="12" x2="21" y2="12" class="line"/>
            <line x1="3" y1="6" x2="21" y2="6" class="line"/>
            <line x1="12" y1="18" x2="21" y2="18" class="line"/>
            <line x1="18" y1="6" x2="6" y2="18" class="close"/>
            <line x1="6" y1="6" x2="18" y2="18" class="close"/>
          </svg>
        </button>
        <ul id="menu-items" class="display-none sm:flex">
          {mainNavItems.map(navItem =>
            <li><a href={`/${navItem}/`} class={activeNav === navItem ? "active" : ""}>{navItem}</a></li>
          )}
          <li>
            <LinkButton
              href="/search/"
              class={`p-3 sm:p-1 ${activeNav === "search" ? "active" : ""}`}
              aria-label="search"
              title="search"
            >
              <svg xmlns="http://www.w3.org/2000/svg" class="scale-125 sm:scale-100">
                <path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/>
              </svg>
            </LinkButton>
          </li>
          <li>
            <button
              id="theme-button"
              title="toggle dark mode"
              aria-label="auto"
              aria-live="polite"
            >
              <svg xmlns="http://www.w3.org/2000/svg" id="moon-svg">
                <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z"/>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" id="sun-svg">
                <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"/>
              </svg>
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <Hr/>
</header>

<style lang="scss">
  #skip-to-content {
    position: absolute;
    top: -100%;
    left: 4rem;
    z-index: 50;
    background-color: $color-accent;
    padding: 0.5rem 0.75rem;
    color: $color-fill;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      top: 1rem;
    }
  }
  #nav-container {
    margin: { left: auto; right: auto; }
    display: flex;
    max-width: $max-width;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: $media-small) {
      flex-direction: row;
    }
  }
  #top-nav-wrap {
    position: relative;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    @media (min-width: $media-small) {
      align-items: center;
      padding: { top: 2rem; bottom: 2rem; }
    }
  }
  #logo {
    position: absolute;
    padding: { top: 0.25rem; bottom: 0.25rem; }
    font-weight: $font-weight-semibold;
    white-space: nowrap;
    @include font-size($font-size-xl);
    @media (min-width: $media-small) {
      position: static;
      @include font-size($font-size-2xl);
    }
    &:hover {
      color: $color-accent;
    }
  }
  #hamburger-menu {
    align-self: flex-end;
    padding: 0.5rem;

    @media (min-width: $media-small) {
      display: none;
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
      scale: 125%;
      fill: $color-text;

      .close { opacity: 0%; }
      &.is-active {
        .line { opacity: 0%; }
        .close { opacity: 100%; }
      }
    }
  }

  nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    @media (min-width: $media-small) {
      margin-left: 1rem;
      padding: { top: 0rem; bottom: 0rem; }
      flex-direction: row;
      justify-content: flex-end;
    }

    ul {
      margin-top: 1rem;
      display: grid;
      width: 11rem;
      grid-template: {
        columns: repeat(2, minmax(0, 1fr));
        rows: repeat(4, minmax(0, 1fr));
      }
      gap: 0.5rem;

      @media (min-width: $media-small) {
        margin: { left: 0rem; top: 0rem; }
        width: auto;
        gap: 0rem 1.25rem;
      }

      li {
        grid-column: span 2 / span 2;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          width: 100%;
          padding: 0.75rem 1rem;
          text-align: center;
          font-weight: 450;

          @media (min-width: $media-small) {
            margin: { top: 0rem; bottom: 0rem; }
            padding: 0.25rem 0.5rem;
          }

          &:hover {
            color: $color-accent;
          }
        }
        &:nth-last-child(2) a {
          width: auto;
        }
        &:nth-last-child(1), &:nth-last-child(2) {
          grid-column: span 1 / span 1;
        }
      }
    }
    a.active {
      font-weight: $font-weight-extrabold;
      svg { fill: $color-accent; }
    }
    button {
      padding: 0.25rem;
      svg {
        height: 1.5rem;
        width: 1.5rem;
        fill: $color-text;
        &:hover {
          fill: $color-accent;
        }
      }
    }
  }

  #theme-button {
    padding: 0.75rem;
    @media (min-width: $media-small) {
      padding: 0.25rem;
    }
    svg {
      scale: 125%;
      @media (min-width: $media-small) {
        scale: 100%;
      }
    }
  }
</style>

<script>
  /** Sets up the button that toggles the navigation menu. */
  function setUpNavToggle() {
    const menuButton = document.getElementById("hamburger-menu")!;
    const menuIcon = menuButton.querySelector("svg")!;
    const menuItems = document.getElementById("menu-items")!;

    menuButton.onclick = () => {
      const isMenuExpanded = menuButton.ariaExpanded === "true";
      menuIcon.classList.toggle("is-active");
      menuButton.ariaExpanded = isMenuExpanded ? "false" : "true";
      menuButton.ariaLabel = isMenuExpanded ? "open menu" : "close menu";
      menuItems.classList.toggle("display-none");
    };
  }

  setUpNavToggle();
  document.addEventListener("astro:after-swap", setUpNavToggle);
</script>
