---
export interface Props {
  /** Whether to omit padding. */
  noPadding?: boolean,
  /** Whether to hide this element from accessibility software. */
  ariaHidden?: boolean,
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div class={`max-w-3xl mx-auto ${noPadding ? "px-0" : "px-4"}`}>
  <hr aria-hidden={ariaHidden}/>
</div>

<style>
  hr {
    @apply border-skin-line;
  }
</style>
