---
export interface Props {
  /** Whether to omit padding. */
  noPadding?: boolean,
}

const { noPadding = false } = Astro.props;
---

<div class="hr-wrapper">
  <hr aria-hidden/>
</div>

<style lang="scss" define:vars={{ paddingAmount: noPadding ? "0" : "4" }}>
  .hr-wrapper {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--paddingAmount);
    padding-right: var(--paddingAmount);
    hr {
      border-color: rgb(var(--color-border));
    }
  }
</style>
