---
import type { Page } from "astro";
import LinkButton from "@components/LinkButton.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  /** Data for the current page. */
  page: Page<CollectionEntry<"blog">>,
}

const { page } = Astro.props;
---

{
  page.lastPage > 1 && <nav class="pagination" aria-label="pagination">
    <LinkButton
      disabled={!page.url.prev}
      href={page.url.prev!}
      class={`mr-4 select-none ${page.url.prev ? "" : "disabled"}`}
      ariaLabel="previous"
    >
      &larr; prev
    </LinkButton>
    {page.currentPage} / {page.lastPage}
    <LinkButton
      disabled={!page.url.next}
      href={page.url.next!}
      class={`mx-4 select-none ${page.url.next ? "" : "disabled"}`}
      ariaLabel="next"
    >
      next &rarr;
    </LinkButton>
  </nav>
}

<style>
  .pagination {
    margin-bottom: theme("spacing.8");
    margin-top: auto;
    display: flex;
    justify-content: center
  }
  .disabled {
    pointer-events: none;
    user-select: none;
    opacity: 50%;
    &:hover {
      color: rgb(var(--color-text-base));
    }
  }
</style>
