---
import type { Page } from "astro";
import LinkButton from "@components/LinkButton.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  /** Data for the current page. */
  page: Page<CollectionEntry<"blog">>,
}

const { page } = Astro.props;
---

{
  page.lastPage > 1 && <nav class="pagination" aria-label="pagination">
    <LinkButton
      disabled={!page.url.prev}
      href={page.url.prev!}
      class="page-link"
      ariaLabel="previous"
    >
      &larr; prev
    </LinkButton>
    {page.currentPage} / {page.lastPage}
    <LinkButton
      disabled={!page.url.next}
      href={page.url.next!}
      class="page-link"
      ariaLabel="next"
    >
      next &rarr;
    </LinkButton>
  </nav>
}

<style lang="scss">
  .pagination {
    margin-top: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center
  }

  .page-link {
    margin-left: 1rem;
    margin-right: 1rem;
  
    &.disabled {
      pointer-events: none;
      opacity: 50%;
      &:hover {
        color: $color-text;
      }
    }
  }
</style>
