---
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  /** Data for the current page. */
  page: Page<CollectionEntry<"blog">>,
}

const { page } = Astro.props;
---

{
  page.lastPage > 1 && <nav aria-label="pagination">
    <a href={page.url.prev!} aria-disabled={!page.url.prev} aria-label="previous">
      prev
    </a>
    {page.currentPage} / {page.lastPage}
    <a href={page.url.next!} aria-disabled={!page.url.next} aria-label="next">
      next
    </a>
  </nav>
}

<style lang="sass">
  nav
    +margin-y(auto, 2rem)
    display: flex
    justify-content: center
    @include hide-in-print

    a
      +margin-x(1rem)
      @include hover-transition(color, colors.$accent)
    
      &[aria-disabled="true"]
        pointer-events: none
        opacity: 50%

      &[aria-label="previous"]::before
        content: "#{chars.$arrow-left} "

      &[aria-label="next"]::after
        content: " #{chars.$arrow-right}"
</style>
