---
import { getPostUrlByID } from "$/utils/urls"
import PostCard from "$/components/PostCard.astro"
import type { Page } from "astro"
import type { CollectionEntry } from "astro:content"

type Props = Readonly<{
  page: Page<CollectionEntry<"posts">>
}>

const { page } = Astro.props

let delay = 0
const interval = 50
---

<div class="post-list-wrapper">
  {
    page.data.map((entry) => (
      <PostCard
        {entry}
        url={getPostUrlByID(entry.id)}
        class="onload-animation"
        style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
      />
    ))
  }
</div>

<style lang="scss">
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  .post-list-wrapper {
    @include transition();
    display: flex;
    flex-direction: column;
    border-radius: $radius-xl2;
    background-color: var(--card-bg);
    padding: {
      top: spacing(1);
      bottom: spacing(1);
    }
    margin-bottom: spacing(4);

    @include variants.md {
      padding: {
        top: 0;
        bottom: 0;
      }
      background-color: transparent;
      gap: spacing(4);
    }
  }
</style>
