---
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">,
  posts: CollectionEntry<"blog">[],
}

const { post, posts } = Astro.props;

const allPosts = posts.map(({ data: { title }, id }) => ({ id, title }));

const currentPostIndex = allPosts.findIndex(a => a.id === post.id);

const prevPost = currentPostIndex !== 0 ? allPosts[currentPostIndex - 1] : null;
const nextPost = currentPostIndex !== allPosts.length ? allPosts[currentPostIndex + 1] : null;
---

{ (prevPost || nextPost) && <hr class="my-6 border-skin-line"/> }

<div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
  {prevPost &&
    <a
      href={`/posts/${prevPost.id}`}
      class="post-link"
    >
      &larr;
      <div>
        <span>previous post</span>
        <div class="post-title">{prevPost.title}</div>
      </div>
    </a>
  }
  {nextPost &&
    <a
      href={`/posts/${nextPost.id}`}
      class="post-link justify-end text-right sm:col-start-2"
    >
      <div>
        <span>next post</span>
        <div class="post-title">{nextPost.title}</div>
      </div>
      &rarr;
    </a>
  }
</div>

<style>
  .post-link {
    @apply flex w-full gap-1 hover:opacity-75;
  }
  .post-title {
    @apply text-sm text-skin-accent/85;
  }
</style>
