---
import type { CollectionEntry } from "astro:content";

export interface Props {
  /** The current post. */
  post: CollectionEntry<"blog">,
  /** A list of all posts. */
  posts: CollectionEntry<"blog">[],
}

const { post, posts } = Astro.props;

/** The IDs and titles of all posts. */
const allPosts = posts.map(post => ({ id: post.id, title: post.data.title }));

/** The current post's index. */
const currentPostIndex = allPosts.findIndex(a => a.id === post.id);

/** The previous post. */
const prevPost = currentPostIndex !== 0 ? allPosts[currentPostIndex - 1] : null;
/** The next post. */
const nextPost = currentPostIndex !== allPosts.length ? allPosts[currentPostIndex + 1] : null;
---

{ (prevPost || nextPost) && <hr class="my-6 border-skin-line"/> }

<div class="post-link-wrapper">
  {prevPost &&
    <a
      href={`/posts/${prevPost.id}`}
      class="post-link"
    >
      &larr;
      <div>
        <span>previous post</span>
        <div class="post-title">{prevPost.title}</div>
      </div>
    </a>
  }
  {nextPost &&
    <a
      href={`/posts/${nextPost.id}`}
      class="post-link justify-end text-right sm:col-start-2"
    >
      <div>
        <span>next post</span>
        <div class="post-title">{nextPost.title}</div>
      </div>
      &rarr;
    </a>
  }
</div>

<style>
  .post-link-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: theme("spacing.6");

    @media (min-width: theme("screens.sm")) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .post-link {
      display: flex;
      width: 100%;
      gap: theme("spacing.1");
      transition: opacity 0.1s linear;
      &:hover { opacity: 75%; }
      
      .post-title {
        @apply text-sm text-skin-accent/85;
      }
    }
  }
</style>
