---
import type { CollectionEntry } from "astro:content";

export interface Props {
  /** The current post. */
  post: CollectionEntry<"blog">,
  /** A list of all posts. */
  posts: CollectionEntry<"blog">[],
}

const { post, posts } = Astro.props;

/** The IDs and titles of all posts. */
const allPosts = posts.map(post => ({ id: post.id, title: post.data.title }));

/** The current post's index. */
const currentPostIndex = allPosts.findIndex(a => a.id === post.id);

/** The previous post. */
const prevPost = currentPostIndex !== 0 ? allPosts[currentPostIndex - 1] : null;

/** The next post. */
const nextPost = currentPostIndex !== allPosts.length ? allPosts[currentPostIndex + 1] : null;
---

{ (prevPost || nextPost) && <hr/> }

<div class="post-link-wrapper">
  {prevPost &&
    <a id="previous-post" href={`/posts/${prevPost.id}`}>
      <div>
        previous post
        <div class="post-title">{prevPost.title}</div>
      </div>
    </a>
  }
  {nextPost &&
    <a id="next-post" href={`/posts/${nextPost.id}`}>
      <div>
        next post
        <div class="post-title">{nextPost.title}</div>
      </div>
    </a>
  }
</div>

<style lang="sass">
  hr
    +margin-y(1.5rem)
    border-color: colors.$border
    @include hide-in-print

  .post-link-wrapper
    display: grid
    grid-template-columns: repeat(1, minmax(0, 1fr))
    gap: 1.5rem

    @include desktop
      grid-template-columns: repeat(2, minmax(0, 1fr))

    @include hide-in-print

    #previous-post, #next-post
      display: flex
      gap: 0.25rem
      @include hover-transition(opacity, 75%)
      
      .post-title
        font-size: font-sizes.$small
        color: with-opacity(colors.$accent, 85%)

    #previous-post
      justify-content: left
      text-align: left
      @include desktop
        grid-column-start: 1
      &::before
        content: chars.$arrow-left

    #next-post
      justify-content: right
      text-align: right
      @include desktop
        grid-column-start: 2
      &::after
        content: chars.$arrow-right
</style>
