---
import SocialLink from "@/components/SocialLink.astro"
import { SHARE_LINKS } from "@/config"
import type { Social } from "@/types"

let shareLinks: Social[] = SHARE_LINKS.map(social => ({
  ...social,
  href: social.href + Astro.url.href,
}))
---

<div class="share-links">
  share this post:
  <ul>
    {shareLinks.map(social => <SocialLink {social}/>)}
  </ul>
</div>

<style lang="sass">
  .share-links
    font-style: italic
    display: flex
    flex:
      direction: column
      wrap: wrap
    align-items: center
    justify-content: center
    gap: 0.25rem
    
    @include desktop
      align-items: flex-start
</style>
