---
import SocialLink from "@components/SocialLink.astro";
import { SHARE_LINKS } from "@config";
---

<div class="social-icons">
  <span class="share-text">share this post on:</span>
  <div class="share-links-wrapper">
    {shareLinks.map(social => <SocialLink {social}/>)}
  </div>
</div>

<style>
  .share-text {
    font-style: italic;
  }
  .share-links-wrapper {
    text-align: center;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: theme("spacing.1");
    
    @media (min-width: theme("screens.sm")) {
      align-items: flex-start;
    }
  }
</style>
