---
import SocialLink from "@components/SocialLink.astro";
import type { Social } from "types";

/** A list of platforms posts can be shared on. */
const shareLinks: Social[] = [
  {
    name: "WhatsApp",
    href: "https://wa.me/?text=",
    linkTitle: "share this post via WhatsApp",
  },
  {
    name: "Telegram",
    href: "https://t.me/share/url?url=",
    linkTitle: "share this post via Telegram",
  },
  {
    name: "Pinterest",
    href: "https://pinterest.com/pin/create/button/?url=",
    linkTitle: "share this post on Pinterest",
  },
  {
    name: "Reddit",
    href: "https://www.reddit.com/submit?title=Check%20out%20this%20post%21&url=",
    linkTitle: "share this post on Reddit",
  },
  {
    name: "Mail",
    href: "mailto:?subject=See%20this%20post&body=",
    linkTitle: "share this post via email",
  },
] as const;
---

<div class="social-icons">
  <span class="share-text">share this post on:</span>
  <div class="share-links-wrapper">
    {shareLinks.map(social => <SocialLink {social}/>)}
  </div>
</div>

<style>
  .share-text {
    font-style: italic;
  }
  .share-links-wrapper {
    text-align: center;
  }
  .social-icons {
    @apply flex flex-col flex-wrap items-center justify-center gap-1 sm:items-start;
  }
  .link-button {
    @apply scale-90 p-2 hover:rotate-6 sm:p-1;
  }
</style>
