---
import SocialLink from "@/components/SocialLink.astro";
import { SHARE_LINKS } from "@/config";

let shareLinks = SHARE_LINKS.map(social => {
  social.href += Astro.url.href;
  return social;
});
---

<div class="share-links">
  <span class="share-text">share this post on:</span>
  <ul>
    {shareLinks.map(social => <SocialLink {social}/>)}
  </ul>
</div>

<style lang="sass">
  .share-links
    display: flex
    flex:
      direction: column
      wrap: wrap
    align-items: center
    justify-content: center
    gap: 0.25rem
    
    @include desktop
      align-items: flex-start

    .share-text
      font-style: italic
</style>
