---
import { SOCIALS } from "@config";
import SocialLink from "@components/SocialLink.astro";

export interface Props {
  /** Whether to center the icons on the page. */
  centered?: boolean,
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {SOCIALS.map(social => <SocialLink {social}/>)}
</div>

<style lang="sass">
  .social-icons
    flex-wrap: wrap
    justify-content: center
    gap: 0.25rem
</style>
