---
import LinkButton from "@components/LinkButton.astro";
import type { Social } from "types";

export interface Props {
  /** The social media service to display a link to. */
  social: Social,
}

const { social } = Astro.props;
const { default: Icon } = await import(`../assets/icons/socials/${social.name}.svg`);
---

<a href={social.href} title={social.linkTitle} aria-label={social.linkTitle}>
  <Icon/>
</a>

<style lang="sass">
  a
    display: inline-block
    padding: 0.375rem
    transition: rotate 0.1s ease-in-out, color 0.1s linear
    &:hover
      rotate: 6deg
    
    @include desktop
      padding: 0.25rem
    
    svg
      scale: 125%
      @include desktop
        scale: 110%
</style>
