---
import type { Social } from "types";
import LinkButton from "@components/LinkButton.astro";
import socialIcons from "@assets/socialIcons";

export interface Props {
  /** The social media service to display a link to. */
  social: Social,
}

const { social } = Astro.props;
---

<LinkButton
  href={social.href}
  className="link-button"
  title={social.linkTitle}
>
  <Fragment set:html={socialIcons[social.name]}/>
  <span class="sr-only">{social.linkTitle}</span>
</LinkButton>

<style>
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
    transition: transform 0.1s ease-in-out;
  }
</style>
