---
import type { Social } from "@/types"

interface Props {
  /** The social media service to display a link to. */
  social: Social
}

const {
  social: { name, title, href }
} = Astro.props

const { default: Icon } = await import(
  `@/assets/icons/socials/${name}.svg`
)
---

<a {href} {title} aria-label={title}>
  <Icon/>
</a>

<style lang="sass">
  a
    display: inline-block
    padding: 0.375rem
    +hover-transition($scale: 105%, $color: colors.$accent)
    
    @include desktop
      padding: 0.25rem
    
    svg
      scale: 125%
      @include desktop
        scale: 110%
</style>
