---
type Props = Readonly<{
  /** The tag's name. */
  tag: string
  /** The tag's size. */
  size: "sm" | "lg"
}>

const { tag, size } = Astro.props
---

<li class={size}>
  <a href={`/tags/${tag}/`}>
    <span>{tag}</span>
  </a>
</li>

<style lang="sass">
  li
    display: inline-block
    text:
      decoration-line: underline
      underline-offset: 4px

    a
      position: relative
      padding-right: 0.5rem
      +hover-transition($color: colors.$accent)

      span::before
        content: "#\202f\202f" // two thin spaces
        color: with-opacity(currentcolor, 80%)

  li.lg
    margin: 0.75rem 0.25rem
    a
      font-size: 1.125rem

  li.sm
    +margin-y(0.25rem)
    a
      font-size: 0.875rem
</style>
