---
import { Icon } from 'astro-icon/components'

export interface Props {
  text: string
  label: string
  icon: string
}
const { text, label, icon } = Astro.props
---

<div class="meta-item" aria-label={label}>
  <Icon name={icon} aria-hidden="true" />
  <span class="meta-content">
    {text}
  </span>
</div>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;

  .meta-item {
    display: block flex;

    flex-direction: row;

    align-items: center;

    color: var(--color-meta-extra-text);

    [data-icon] {
      display: block flex;

      align-items: center;
      justify-content: center;

      margin-inline-end: spacing(2);

      border-radius: var(--radius-md);

      background-color: var(--color-meta-extra-bg);

      padding-block: spacing(1);
      padding-inline: spacing(1);

      block-size: spacing(6);
      inline-size: spacing(6);

      color: var(--color-meta-extra-icon);
    }

    .meta-content {
      font-size: var(--text-sm);
    }
  }
</style>
