---
import { Icon } from 'astro-icon/components'

export interface Props {
  text: string
  label: string
  icon: string
}
const { text, label, icon } = Astro.props
---

<div class="meta-item" aria-label={label}>
  <div class="icon-wrapper" aria-hidden="true">
    <Icon name={icon} />
  </div>
  <div class="text">
    {text}
  </div>
</div>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;

  .meta-item {
    display: block flex;

    flex-direction: row;

    align-items: center;

    color: var(--color-meta-extra-text);

    .icon-wrapper {
      display: block flex;

      align-items: center;
      justify-content: center;

      margin-inline-end: spacing(2);

      border-radius: var(--radius-md);

      background-color: var(--color-meta-extra-bg);

      block-size: spacing(6);
      inline-size: spacing(6);

      color: var(--color-meta-extra-icon);
    }

    .text {
      font-size: var(--text-sm);
    }
  }
</style>
