---
import { Icon } from 'astro-icon/components'

export interface Props {
  icon: string
  label: string
  hideOnMobile?: boolean
}

const { icon, label, hideOnMobile = false } = Astro.props
---

<div
  class:list={['meta-item', { 'mobile-hidden': hideOnMobile }]}
  aria-label={label}
>
  <div class="meta-icon" aria-hidden="true">
    <Icon name={icon} />
  </div>
  <span class="meta-content">
    <slot />
  </span>
</div>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  .meta-item {
    display: block flex;

    align-items: center;

    &.mobile-hidden {
      display: none;

      @include md {
        display: block flex;
      }
    }

    .meta-icon {
      display: block flex;

      align-items: center;
      justify-content: center;

      margin-inline-end: spacing(2);

      border-radius: var(--radius-md);

      background-color: var(--color-btn-regular-bg);

      block-size: spacing(8);
      inline-size: spacing(8);

      color: var(--color-btn-content);

      [data-icon] {
        block-size: spacing(5);
        inline-size: spacing(5);
      }
    }

    .meta-content {
      @include font-size($text-sm);
      color: bw(50%);

      font-weight: var(--fw-medium);
    }
  }
</style>
