---
export interface Props {
  href: string
  label: string
}
const { href, label } = Astro.props
---

<a {href} aria-label={label}>
  <slot />
</a>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  %link-lg {
    @extend %expand-animation;

    margin-block: spacing(-1.5);
    margin-inline: spacing(-1.5);

    border-radius: $radius-md;

    padding-block: spacing(1.5);
    padding-inline: spacing(1.5);
  }

  a {
    @extend %link-lg;

    white-space: nowrap;

    &:hover {
      color: var(--color-primary);
    }
  }
</style>
