---
import strings from '$/config/strings'
import ExtraMetaItem from '$/components/post/meta/ExtraMetaItem.astro'

interface Props {
  wordCount: number
  readingTime: number
  class?: string
}

const { wordCount, readingTime, class: className } = Astro.props
---

<div class={className}>
  <ExtraMetaItem
    icon="tabler:align-justified"
    text={strings.meta.words(wordCount)}
  />
  <ExtraMetaItem icon="tabler:clock" text={strings.meta.minutes(readingTime)} />
</div>

<style lang="scss">
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  div {
    display: flex;
    flex-direction: row;
    gap: spacing(5);
  }
</style>
