---
import siteConfig from '$/config/site'
import Profile from './profile/Profile.astro'
import Tags from './Tags.astro'
import Categories from './Categories.astro'

export interface Props {
  class?: string
}
const { class: className } = Astro.props
---

<aside class:list={['sidebar', className]}>
  <section class="profile">
    <Profile config={siteConfig.profile} />
  </section>
  <section class="sticky">
    <Categories class="categories" />
    <Tags class="tags" />
  </section>
</aside>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  aside.sidebar {
    inline-size: 100%;

    animation-delay: 100ms;
  }

  section.profile {
    display: block flex;

    flex-direction: column;

    gap: spacing(4);

    margin-block-end: spacing(4);

    inline-size: 100%;
  }

  section.sticky {
    @include transition($duration: 700ms);

    display: block flex;
    position: sticky;
    inset-block-start: spacing(4);

    flex-direction: column;

    gap: spacing(4);

    :global(.categories, .tags) {
      @extend %onload-animation;
    }

    :global(.categories) {
      animation-delay: 150ms;
    }

    :global(.tags) {
      animation-delay: 200ms;
    }
  }
</style>
