---
import siteConfig from '$/config/site'
import Profile from '$/components/widget/sidebar/profile/Profile.astro'
import Tag from '$/components/widget/sidebar/Tags.astro'
import Categories from '$/components/widget/sidebar/Categories.astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<aside id="sidebar" class={className}>
  <section class="profile">
    <Profile config={siteConfig.profile} />
  </section>
  <section class="sticky">
    <Categories class="categories" />
    <Tag class="tags" />
  </section>
</aside>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  #sidebar {
    width: 100%;
  }

  section.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: spacing(4);
    gap: spacing(4);
  }

  section.sticky {
    @include transition($duration: 700ms);

    display: flex;
    position: sticky;
    top: spacing(4);
    flex-direction: column;
    gap: spacing(4);

    :global(.categories, .tags) {
      @extend %onload-animation;
    }

    :global(.categories) {
      animation-delay: 150ms;
    }

    :global(.tags) {
      animation-delay: 200ms;
    }
  }
</style>
