---
import { Icon } from "astro-icon/components"
---

<div class="back-to-top-wrapper">
  <div id="back-to-top-btn" class="hide" onclick="backToTop()">
    <button aria-label="Back to Top">
      <Icon name="tabler:chevron-up" />
    </button>
  </div>
</div>

<style lang="scss">
  @use "$/styles/main";
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  .back-to-top-wrapper {
    width: spacing(15);
    height: spacing(15);
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    display: none;

    @include variants.lg {
      display: block;
    }

    #back-to-top-btn {
      color: var(--primary);
      @include font-size($text-xl4);
      font-weight: $font-weight-bold;

      border-style: none;
      position: fixed;
      bottom: spacing(40);
      opacity: 100%;
      cursor: pointer;
      translate: spacing(20);
      pointer-events: auto;
      display: flex;
      align-items: center;
      border-radius: $radius-xl2;
      overflow: hidden;
      @include transition();

      button {
        @extend .btn-card;
        width: spacing(15);
        height: spacing(15);
        :global(svg) {
          @include margin-x(auto);
        }
      }

      &.hide {
        scale: 90%;
        opacity: 0%;
        pointer-events: none;
      }
      &:active {
        scale: 90%;
      }
    }
  }
</style>

<script is:inline>
  // @ts-check
  function backToTop() {
    window.scroll({ top: 0, behavior: "smooth" })
  }
</script>
