---
type Props = Readonly<{
  href?: string | undefined
  label?: string | undefined
}>
const { href, label } = Astro.props
---

<a {href} aria-label={label} class="btn-regular">
  <slot />
</a>

<style lang="scss">
  a {
    @apply h-8 text-sm px-3 rounded-lg;
  }
</style>
