---
interface Props {
  badge?: string
  url?: string
  label?: string
}

const { badge, url, label } = Astro.props
---

<a href={url} aria-label={label}>
  <button>
    <div class="wrapper">
      <header class="title">
        <slot />
      </header>
      {badge !== undefined && <div class="badge">{badge}</div>}
    </div>
  </button>
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  button {
    @include transition($properties: all);

    width: 100%;
    height: spacing(10);
    padding-left: spacing(2);

    border-radius: $radius-lg;

    background-image: none;

    color: $color-neutral-700;

    &:active {
      background-color: var(--btn-plain-bg-active);
    }

    &:hover {
      padding-left: spacing(3);

      background-color: var(--btn-plain-bg-hover);

      color: var(--primary);
    }

    @include variants.dark {
      color: $color-neutral-300;

      &:hover {
        color: var(--primary);
      }
    }
  }

  .wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-right: spacing(2);
  }

  .title {
    overflow: hidden;

    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .badge {
    @include transition;
    @include font-size($text-sm);

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: spacing(8);
    height: spacing(7);
    margin-left: spacing(4);
    padding-right: spacing(2);
    padding-left: spacing(2);

    border-radius: $radius-lg;

    background-color: oklch(95% 0.025 var(--hue));

    color: var(--btn-content);
    font-weight: $font-weight-bold;

    @include variants.dark {
      background-color: var(--primary);

      color: var(--deep-text);
    }
  }
</style>
