---
interface Props {
  href?: string | undefined
  label?: string | undefined
}
const { href, label } = Astro.props
---

<a {href} aria-label={label}>
  <slot />
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  :any-link {
    @extend .btn-regular;
    height: spacing(8);
    @include font-size($text-sm);
    @include padding-x(spacing(3));
    border-radius: $radius-lg;
  }
</style>
