---
interface Props {
  href?: string
  label?: string
}
const { href, label } = Astro.props
---

<a {href} aria-label={label}>
  <slot />
</a>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  :any-link {
    @extend %btn-regular;
    @include font-size($text-sm);

    border-radius: $radius-lg;

    padding-inline: spacing(3);

    block-size: spacing(8);
  }
</style>
