---
interface Props {
  id: string
  text: string
  depth: 1 | 2
  h1Index: number
}
const { id, text, depth, h1Index } = Astro.props
---

<a href={`#${id}`} class={`depth-${depth}`}>
  <div class="marker">
    {depth === 1 ? h1Index : <div class="dot" />}
  </div>
  <div class="title">
    {text.replace(/#$/g, '')}
  </div>
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  a {
    @include transition;
    display: flex;
    position: relative;
    min-block-size: spacing(9);
    inline-size: 100%;
    padding: spacing(2);

    border-radius: $radius-xl;
    gap: spacing(2);

    &:hover {
      background-color: var(--toc-btn-hover);
    }

    &:active {
      background-color: var(--toc-btn-active);
    }

    .marker {
      @include transition;
      @include font-size($text-xs);

      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      block-size: spacing(5);
      inline-size: spacing(5);

      border-radius: $radius-lg;

      font-weight: $font-weight-bold;
    }

    .title {
      @include transition;
      @include font-size($text-sm);
      @include text-plain(50%);
    }

    &.depth-1 {
      .marker {
        background-color: var(--toc-badge-bg);

        color: var(--btn-content);
      }
    }

    &.depth-2 {
      .marker {
        margin-inline-start: spacing(4);

        .dot {
          block-size: spacing(2);
          inline-size: spacing(2);

          border-radius: spacing(0.75);

          background-color: var(--toc-badge-bg);
        }
      }
    }
  }
</style>
