---
import type { MarkdownHeading } from 'astro'

import siteConfig from '$/config/site'
import TOC from '$/components/widget/toc/TOC.astro'

interface Props {
  headings: readonly MarkdownHeading[]
}
const { headings } = Astro.props
---

<div class="outer-wrapper">
  <div class="inner-wrapper">
    {
      siteConfig.toc === undefined || headings.length === 0 ? (
        // #toc needs to exist for Swup to work properly
        <div id="toc" />
      ) : (
        <div
          id="toc-wrapper"
          class:list={{ 'toc-hide': siteConfig.banner !== undefined }}
        >
          <TOC config={siteConfig.toc} {headings} />
        </div>
      )
    }
  </div>
</div>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  .outer-wrapper {
    display: none;
    position: absolute;
    z-index: 0;
    width: 100%;

    @include variants.xl2 {
      display: block;
    }

    .inner-wrapper {
      position: relative;
      max-width: var(--page-width);
      margin-right: auto;
      margin-left: auto;
    }
  }

  #toc-wrapper {
    @include transition;

    display: none;
    position: absolute;
    top: 0;
    right: calc(var(--toc-width) * -1);
    align-items: center;
    width: var(--toc-width);

    @include variants.lg {
      display: block;
    }
  }
</style>
