---
import type { MarkdownHeading } from 'astro'

import siteConfig from '$/config/site'
import TOC from '$/components/widget/toc/TOC.astro'

interface Props {
  headings: readonly MarkdownHeading[]
}
const { headings } = Astro.props
---

<div class='outer-wrapper'>
  <div class='inner-wrapper'>
    {
      siteConfig.toc === undefined || headings.length === 0 ? (
        // #toc needs to exist for Swup to work properly
        <div id='toc' />
      ) : (
        <div
          id='toc-wrapper'
          class:list={{ 'toc-hide': siteConfig.banner !== undefined }}
        >
          <TOC config={siteConfig.toc} {headings} />
        </div>
      )
    }
  </div>
</div>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  .outer-wrapper {
    display: none;
    position: absolute;

    z-index: 0;

    inline-size: 100%;

    .inner-wrapper {
      position: relative;

      margin-inline: auto;

      max-inline-size: var(--page-width);
    }

    @include xl2 {
      display: block flow;
    }
  }

  #toc-wrapper {
    display: none;
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: calc(var(--toc-width) * -1);

    align-items: center;

    inline-size: var(--toc-width);

    @include lg {
      display: block flow;
    }
  }
</style>
