---
import type { MarkdownHeading } from 'astro'

import siteConfig from '$/config/site'
import TOC from '$/components/widget/toc/TOC.astro'

interface Props {
  headings?: readonly MarkdownHeading[] | undefined
}
const { headings = [] } = Astro.props
---

<div class="absolute w-full z-0 hidden 2xl:block">
  <div class="relative max-w-[--page-width] mx-auto">
    {
      siteConfig.toc !== undefined && (
        <div
          id="toc-wrapper"
          class:list={[
            'hidden lg:block transition absolute top-0 -right-[--toc-width] w-[--toc-width] items-center',
            { 'toc-hide': siteConfig.banner !== undefined },
          ]}
        >
          <div
            id="toc-inner-wrapper"
            class="fixed top-14 w-[--toc-width] h-[calc(100vh-20rem)] overflow-y-scroll overflow-x-hidden hide-scrollbar"
          >
            <div id="toc" class="w-full h-full transition-swup-fade ">
              <div class="h-8 w-full" />
              <TOC config={siteConfig.toc} {headings} />
              <div class="h-8 w-full" />
            </div>
          </div>
        </div>
      )
    }

    <!-- #toc needs to exist for Swup to work normally -->
    {siteConfig.toc === undefined && <div id="toc" />}
  </div>
</div>
