---
import type { Post } from '$/types/content'
import ArchiveHeader from './ArchiveHeader.astro'
import ArchiveItem from './ArchiveItem.astro'

export interface Props {
  /** The year these posts were published. */
  year: number

  /** A list of posts. */
  posts: readonly Post[]
}
const { year, posts } = Astro.props
---

<div>
  <ArchiveHeader {year} {posts} />
  {posts.map((post) => <ArchiveItem {post} />)}
</div>
