---
import strings from '$/config/strings'
import type { PostsForYear } from '$/types/content'

interface Props {
  group: PostsForYear
}
const { group } = Astro.props
---

<header>
  <div class="year">
    {group.year}
  </div>

  <div class="dot-wrapper">
    <div class="dot"></div>
  </div>

  <div class="count">
    {strings.meta.posts(group.posts.length)}
  </div>
</header>

<style lang="scss">
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: spacing(15);

    .year {
      width: 15%;
      @include transition();
      @include font-size($text-xl);
      font-weight: $font-weight-bold;
      text-align: right;
      @include text-plain(75%);

      @include variants.md {
        width: 10%;
        @include font-size($text-xl2);
      }
    }

    .dot-wrapper {
      width: 15%;
      @include variants.md {
        width: 10%;
      }

      .dot {
        height: spacing(3);
        width: spacing(3);
        background-image: none;
        border-radius: 9999px;
        outline: {
          style: solid;
          color: var(--primary);
          offset: -2px;
        }
        @include margin-x(auto);
        z-index: 50;
      }
    }

    .count {
      width: 70%;
      @include variants.md {
        width: 80%;
      }
      @include transition();
      text-align: left;
      @include text-plain(50%);
    }
  }
</style>
