---
import type { PostsForYear } from '$/types/content'
import ArchiveHeader from './ArchiveHeader.astro'
import ArchiveItem from './ArchiveItem.astro'

export interface Props {
  group: PostsForYear
}
const { group } = Astro.props
---

<div>
  <ArchiveHeader {group} />
  {group.posts.map((post) => <ArchiveItem {post} />)}
</div>
