---
import strings from '$/config/strings'
import type { PostsForYear } from '$/types/content'

interface Props {
  group: PostsForYear
}
const { group } = Astro.props
---

<header>
  <div class="year">
    {group.year}
  </div>

  <div class="dot-wrapper">
    <div class="dot"></div>
  </div>

  <div class="count">
    {strings.meta.posts(group.posts.length)}
  </div>
</header>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: spacing(15);

    .year {
      @include transition;
      @include font-size($text-xl);
      @include text-plain(75%);

      width: 15%;

      font-weight: $font-weight-bold;
      text-align: right;

      @include variants.md {
        @include font-size($text-xl2);

        width: 10%;
      }
    }

    .dot-wrapper {
      width: 15%;

      @include variants.md {
        width: 10%;
      }

      .dot {
        z-index: 50;

        width: spacing(3);
        height: spacing(3);
        margin-right: auto;
        margin-left: auto;

        border-radius: 9999px;
        outline-color: var(--primary);
        outline-offset: -2px;

        outline-style: solid;

        background-image: none;
      }
    }

    .count {
      @include transition;
      @include text-plain(50%);

      width: 70%;

      text-align: left;

      @include variants.md {
        width: 80%;
      }
    }
  }
</style>
