---
import strings from '$/config/strings'
import type { Post } from '$/types/content'

export interface Props {
  /** The year these posts were published. */
  year: number

  /** A list of posts. */
  posts: readonly Post[]
}
const { year, posts } = Astro.props
---

<header>
  <div class="year">
    {year}
  </div>

  <div class="dot-wrapper">
    <div class="dot"></div>
  </div>

  <div class="count">
    {strings.meta.posts(posts.length)}
  </div>
</header>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/variants' as *;

  header {
    display: block grid;

    grid-template: 'year dot count' / 15% 15% 70%;

    align-items: center;

    block-size: spacing(15);
    inline-size: 100%;

    .year {
      grid-area: year;

      text-align: end;

      color: var(--color-archive-year);

      font-size: var(--text-xl2);
      font-weight: var(--fw-bold);

      @media (width < $breakpoint-md) {
        font-size: var(--text-xl);
      }
    }

    .dot-wrapper {
      grid-area: dot;

      .dot {
        z-index: 50;

        margin-inline: auto;

        outline-offset: -2px;
        outline-style: solid;
        outline-color: var(--color-primary);

        border-radius: 9999px;

        background-image: none;

        block-size: spacing(3);
        inline-size: spacing(3);
      }
    }

    .count {
      grid-area: count;

      text-align: start;

      color: var(--color-archive-post-count);
    }

    @media (width >= $breakpoint-md) {
      grid-template-columns: 10% 10% 80%;
    }
  }
</style>
