---
import strings from '$/config/strings'
import type { PostsForYear } from '$/types/content'

interface Props {
  group: PostsForYear
}
const { group } = Astro.props
---

<header>
  <div class="year">
    {group.year}
  </div>

  <div class="dot-wrapper">
    <div class="dot"></div>
  </div>

  <div class="count">
    {strings.meta.posts(group.posts.length)}
  </div>
</header>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  header {
    display: block flex;

    flex-direction: row;

    align-items: center;

    block-size: spacing(15);
    inline-size: 100%;

    .year {
      @include transition;
      @include font-size($text-xl);
      @include text-plain(75%);

      inline-size: 15%;

      text-align: end;

      font-weight: $font-weight-bold;

      @include variants.md {
        @include font-size($text-xl2);

        inline-size: 10%;
      }
    }

    .dot-wrapper {
      inline-size: 15%;

      .dot {
        z-index: 50;

        margin-inline: auto;

        outline-offset: -2px;
        outline-style: solid;
        outline-color: var(--primary);

        border-radius: 9999px;

        background-image: none;

        block-size: spacing(3);
        inline-size: spacing(3);
      }

      @include variants.md {
        inline-size: 10%;
      }
    }

    .count {
      @include transition;
      @include text-plain(50%);

      inline-size: 70%;

      text-align: start;

      @include variants.md {
        inline-size: 80%;
      }
    }
  }
</style>
