---
import strings from "$/config/strings"
import type { PostsForYear } from "$/types/content"

type Props = Readonly<{
  group: PostsForYear
}>
const { group } = Astro.props
---

<header class="flex flex-row w-full items-center h-[3.75rem]">
  <div
    class="w-[15%] md:w-[10%] transition text-xl md:text-2xl font-bold text-right text-75"
  >
    {group.year}
  </div>

  <div class="w-[15%] md:w-[10%]">
    <div
      class="h-3 w-3 bg-none rounded-full outline outline-[--primary] mx-auto -outline-offset-[2px] z-50 outline-3"
    >
    </div>
  </div>

  <div class="w-[70%] md:w-[80%] transition text-left text-50">
    {strings.meta.posts(group.posts.length)}
  </div>
</header>
