---
import MainLayout from "@layouts/MainLayout.astro";
import SongCard from "@components/SongCard.astro";

import { getCollection } from "astro:content";

/** A list of all songs. */
const songs = (await getCollection("songs"))
  .map(({ id, data }) => ({ id, ...data }));

/** Original songs. */
const originals = songs.filter(song => !song.remixDetails)
/** Remixed songs. */
const remixes = songs.filter(song => song.remixDetails)

/** The title of the Songs section. */
const title = "songs";

/** The description of the Songs section. */
const description = "all the songs I've created or remixed";
---

<MainLayout {title} {description} activeNav="songs">
  <section id="originals">
    <h2>originals</h2>
    <ul>
      {originals.map(song => <SongCard {song}/>)}
    </ul>
  </section>

  <section id="remixes">
    <h2>remixes</h2>
    <ul>
      {remixes.map(song => <SongCard {song}/>)}
    </ul>
  </section>
</MainLayout>

<style lang="sass">
  section
    padding: 0.75rem 0rem 1.5rem

    h2
      +font(font-sizes.$extralarge2, font-weights.$semibold)
      margin-bottom: 1rem

    ul
      display: flex
      flex:
        direction: row
        wrap: wrap
      gap: 1.5rem
</style>
