---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";

import ScrollProgress from "@components/scripts/ScrollProgress.astro";
import CodeBlockExtras from "@components/scripts/CodeBlockExtras.astro";

export interface Props {
  /** The about page's frontmatter. */
  frontmatter: {
    /** The about page's title. */
    title: string,
  },
}

const { frontmatter: { title } } = Astro.props;
---

<Layout {title} activeNav="about">
  <Main {title}>
    <article class="prose">
      <slot/>
    </article>
  </Main>
</Layout>

<ScrollProgress/>
<CodeBlockExtras/>
