---
import { SITE } from "@config";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Layout from "@layouts/Layout.astro";

import ScrollProgress from "@components/scripts/ScrollProgress.astro";
import CodeBlockExtras from "@components/scripts/CodeBlockExtras.astro";

export interface Props {
  /** The about page's frontmatter. */
  frontmatter: {
    /** The about page's title. */
    title: string,
  },
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`} activeNav="about">
  <Breadcrumbs/>
  <main>
    <section class="prose mb-28 max-w-3xl prose-img:border-0">
      <h1>{frontmatter.title}</h1>
      <slot/>
    </section>
  </main>
</Layout>

<style>
  h1 {
    @apply text-2xl tracking-wider sm:text-3xl;
  }
</style>

<ScrollProgress/>
<CodeBlockExtras/>
