---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  /** This page's title. */
  title: string,
  /** This page's description. */
  description?: string,
};

const { title, description } = Astro.props;
---

<Breadcrumbs/>
<main>
  <h1>{title}</h1>
  {description && <p>{description}</p>}
  <slot/>
</main>

<style lang="scss">
  main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: $max-width;
    padding-left: spacing(4);
    padding-right: spacing(4);
    padding-bottom: spacing(4);
    h1 {
      font-weight: $font-weight-semibold;
      @include font-size($font-size-2xl);
      @media (min-width: $media-small) {
        @include font-size($font-size-3xl);
      }
    }
    p {
      margin-top: spacing(2);
      margin-bottom: spacing(6);
      font-style: italic;
    }
  }
</style>
