---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  /** The title of this page. */
  title: string,
  /** The description of this page. */
  description?: string,
};

const { props } = Astro;
---

<Breadcrumbs/>
<main>
  <h1>{props.title}</h1>
  <p>{props.description}</p>
  <slot/>
</main>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-4;
  }
  main h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  main p {
    @apply mb-6 mt-2 italic;
  }
</style>
