---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  /** This page's title. */
  title: string,
  /** This page's description. */
  description?: string,
};

const { title, description } = Astro.props;
---

<Breadcrumbs/>
<main>
  <h1>{title}</h1>
  <p>{description}</p>
  <slot/>
</main>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-4;
    & h1 {
      @apply text-2xl font-semibold sm:text-3xl;
    }
    & p {
      @apply mb-6 mt-2 italic;
    }
  }
</style>
