---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  /** This page's title. */
  title: string,
  /** This page's description. */
  description?: string,
};

const { title, description } = Astro.props;
---

<Breadcrumbs/>
<main>
  <h1>{title}</h1>
  {description && <p>{description}</p>}
  <slot/>
</main>

<style>
  main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: theme("maxWidth.3xl");
    padding-left: theme("spacing.4");
    padding-right: theme("spacing.4");
    padding-bottom: theme("spacing.4");
    h1 {
      @apply text-2xl font-semibold sm:text-3xl;
    }
    p {
      margin-bottom: theme("spacing.6");
      margin-top: theme("spacing.2");
      font-style: italic;
    }
  }
</style>
