---
import MainGridLayout from '$/layouts/MainGridLayout.astro'
import Markdown from '$/components/post/Markdown.astro'
import { InvalidPropError } from '$/utils/errors'

interface Props {
  frontmatter: Readonly<{
    title: string
    description?: string
  }>
}

const { title, description = title } = Astro.props.frontmatter as Record<
  keyof Props['frontmatter'],
  unknown
>

// Astro doesn't validate prop types in Markdown layouts, so we have to do it
// manually.
if (typeof title !== 'string') {
  throw new InvalidPropError('title', 'string', typeof title)
}
if (typeof description !== 'string') {
  throw new InvalidPropError('description', 'string', typeof description)
}
---

<MainGridLayout {title} {description}>
  <div class="outer-wrapper">
    <div class="inner-wrapper">
      <Markdown class="markdown">
        <slot />
      </Markdown>
    </div>
  </div>
</MainGridLayout>

<style lang="scss">
  @use '$/styles/classes';
  @use '$/styles/theme' as *;
  @use '$/styles/variants' as *;

  .outer-wrapper {
    display: block flex;
    position: relative;

    border-radius: var(--radius-xl2);

    min-block-size: spacing(32);
    inline-size: 100%;

    overflow: hidden;

    .inner-wrapper {
      @extend %card-base;

      position: relative;

      z-index: 10;

      padding-block: spacing(6);
      padding-inline: spacing(9);

      inline-size: 100%;

      :global(.markdown) {
        margin-block-start: spacing(2);
      }
    }
  }
</style>
