---
import strings from "$/config/strings"
import type { BannerCreditConfig } from "$/types/config"
import { Icon } from "astro-icon/components"

type Props = Readonly<{
  config: BannerCreditConfig
}>
const { config } = Astro.props
---

<a
  href={config.url}
  id="banner-credit"
  target="_blank"
  rel="noopener"
  aria-label={strings.alts.bannerCredit}
>
  <Icon class="copyright-icon" name="tabler:copyright" />

  <div class="credit-text">
    {config.text}
  </div>

  <Icon class="external-icon" name="tabler:external-link" />
</a>

<style lang="scss">
  @use "$/styles/transition";
  @use "$/styles/theme" as *;
  @use "$/styles/utils" as *;
  @use "$/styles/variants";

  #banner-credit {
    @extend .onload-animation;
    @include transition($properties: all);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    @include padding-x(spacing(3));
    top: spacing(-13);
    right: spacing(4);
    animation-delay: 400ms;
    background-color: black(60%);
    height: spacing(9);

    &:hover {
      background-color: black(70%);
      padding-right: spacing(9);
      .external-icon {
        opacity: 100%;
      }
    }

    &:active {
      background-color: black(80%);
    }
  }

  .copyright-icon {
    @apply text-white/75 mr-1;
    width: spacing(5);
    height: spacing(5);
  }

  .credit-text {
    color: white(75%);
    @include font-size($text-xs);
  }

  .external-icon {
    @include transition();
    position: absolute;
    right: spacing(4);
    opacity: 0%;
    color: with-hue(75%, 0.14);
  }
</style>
