---
import strings from '$/config/strings'
import type { BannerCreditConfig } from '$/types/config'
import { Icon } from 'astro-icon/components'

interface Props {
  config: BannerCreditConfig
}
const { config } = Astro.props
---

<a
  href={config.url}
  id="banner-credit"
  target="_blank"
  rel="noopener"
  aria-label={strings.alts.bannerCredit}
>
  <Icon class="copyright-icon" name="tabler:copyright" />

  <div class="credit-text">
    {config.text}
  </div>

  <Icon class="external-icon" name="tabler:external-link" />
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  #banner-credit {
    @extend %onload-animation;
    @include transition($properties: all);

    display: block flex;
    position: absolute;
    inset-block-start: spacing(-13);
    inset-inline-end: spacing(4);

    align-items: center;
    justify-content: center;

    border-radius: 9999px;

    background-color: black(60%);

    padding-inline: spacing(3);

    block-size: spacing(9);

    animation-delay: 400ms;

    &:hover {
      background-color: black(70%);

      padding-inline-end: spacing(9);

      .external-icon {
        opacity: 100%;
      }
    }

    &:active {
      background-color: black(80%);
    }

    .external-icon {
      @include transition($properties: opacity);

      position: absolute;
      inset-inline-end: spacing(4);

      opacity: 0%;

      color: with-hue(75%, 35%);
    }
  }

  .copyright-icon {
    margin-inline-end: spacing(1);

    block-size: spacing(5);
    inline-size: spacing(5);

    color: white(75%);
  }

  .credit-text {
    @include font-size($text-xs);

    color: white(75%);
  }
</style>
