---
import strings from '$/config/strings'
import type { BannerCreditConfig } from '$/types/config'
import { Icon } from 'astro-icon/components'

interface Props {
  config: BannerCreditConfig
}
const { config } = Astro.props
---

<a
  href={config.url}
  id="banner-credit"
  target="_blank"
  rel="noopener"
  aria-label={strings.alts.bannerCredit}
>
  <Icon class="copyright-icon" name="tabler:copyright" />

  <div class="credit-text">
    {config.text}
  </div>

  <Icon class="external-icon" name="tabler:external-link" />
</a>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/transition';
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  #banner-credit {
    @extend %onload-animation;
    @include transition($properties: all);

    display: flex;
    position: absolute;
    top: spacing(-13);
    right: spacing(4);
    align-items: center;
    justify-content: center;
    height: spacing(9);
    padding-right: spacing(3);
    padding-left: spacing(3);

    animation-delay: 400ms;

    border-radius: 9999px;

    background-color: black(60%);

    .external-icon {
      @include transition;

      position: absolute;
      right: spacing(4);

      opacity: 0%;

      color: with-hue(75%, 0.14);
    }

    &:hover {
      padding-right: spacing(9);

      background-color: black(70%);

      .external-icon {
        opacity: 100%;
      }
    }

    &:active {
      background-color: black(80%);
    }
  }

  .copyright-icon {
    width: spacing(5);
    height: spacing(5);
    margin-right: spacing(1);

    color: white(75%);
  }

  .credit-text {
    @include font-size($text-xs);

    color: white(75%);
  }
</style>
