---
import siteConfig from '$/config/site'
import strings from '$/config/strings'
const currentYear = new Date().getFullYear()
---

<hr />
<footer>
  <div class="footer-content">
    {strings.license.copyright(currentYear, siteConfig.profile.name)}

    <br />

    <a target="_blank" href="/rss.xml">RSS</a>
    /
    <a target="_blank" href="/sitemap-index.xml">Sitemap</a>
    /
    <a
      target="_blank"
      href="https://github.com/kaascevich/kaascevich.github.io"
    >
      Source
    </a>

    <br />

    Powered by
    <a target="_blank" href="https://astro.build">Astro</a>
    &
    <a target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
  </div>
</footer>

<style lang="scss">
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants';

  hr {
    @include transition;

    margin: spacing(10) spacing(16);

    border-top-width: 1px;
    border-style: dashed;
    border-color: black(10%);

    @include variants.dark {
      border-color: white(15%);
    }
  }

  footer {
    @include transition;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: spacing(12);
    padding-right: spacing(6);
    padding-bottom: spacing(6);
    padding-left: spacing(6);

    border-radius: $radius-xl2;

    .footer-content {
      @include text-plain(50%);
      @include font-size($text-sm);

      text-align: center;

      a {
        @extend %link;

        color: var(--primary);
        font-weight: $font-weight-medium;
      }
    }
  }
</style>
