---
import siteConfig from '$/config/site'
import strings from '$/config/strings'
const currentYear = new Date().getFullYear()
---

<hr />
<footer>
  <div class='footer-content'>
    {strings.license.copyright(currentYear, siteConfig.profile.name)}

    <br />

    <a target='_blank' href='/rss.xml'>RSS</a>
    /
    <a target='_blank' href='/sitemap-index.xml'>Sitemap</a>
    /
    <a
      target='_blank'
      href='https://github.com/kaascevich/kaascevich.github.io'
    >
      Source
    </a>

    <br />

    Powered by
    <a target='_blank' href='https://astro.build'>Astro</a>
    &
    <a target='_blank' href='https://github.com/saicaca/fuwari'>Fuwari</a>
  </div>
</footer>

<style lang='scss'>
  @use '$/styles/main';
  @use '$/styles/theme' as *;
  @use '$/styles/utils' as *;
  @use '$/styles/variants' as *;

  hr {
    margin-block: spacing(10);
    margin-inline: spacing(16);

    border-block-start: 1px dashed var(--color-footer-border);
  }

  footer {
    display: block flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-block-end: spacing(12);

    border-radius: var(--radius-xl2);

    padding-block-end: spacing(6);
    padding-inline: spacing(6);

    .footer-content {
      @include font-size($text-sm);

      text-align: center;

      color: var(--color-footer-text);

      a {
        @extend %link;

        color: var(--color-primary);

        font-weight: var(--fw-medium);
      }
    }
  }
</style>
